[2015-11-30 12:54] rfranco opened #6 "Support Implicit"
it'd be nice to have support to implicit class or def as example:

[code]

[2015-12-02 07:43] fwbrasil opened #7 "MongoDB integration"
It might be worth creating a `quill-mongo` and have two other modules depending on it: one async and another sync.

These are just pointers meant to help the development process, feel free to be creative and suggest better solutions!

[2015-12-02 07:43] fwbrasil commented on #7
cc/ @pjazdzewski1990

[2015-12-03 22:02] vkostyukov opened #8 "Finagle-Postgres support"
It would be abolutelly awesome to support [finagle-postgres](https://github.com/finagle/finagle-postgres) in Quill. I'm might volunteer and give it a try, althought I can't promise any progress in the nearest feature, so I decided to open an issue so anyone else can pick it up.

[2015-12-04 03:35] cvogt commented on #7
Would be cool to consider anticipating feeding MongoQuery asts into Quill from other sources than it's own query frontend :). Or Is there maybe already an AST and textual representation generator in existence?

[2015-12-04 18:31] schmitch opened #9 "Add a way to define configuration inside another file"
Hello, currently it's not good that you need to have a application.properties file, it would be better to somehow configure the Configuration.

[2015-12-05 01:14] fwbrasil commented on #8
Thanks for creating this issue @vkostyukov. `postgresql-async` has some [performance issues](https://github.com/mauricio/postgresql-async/issues/91), so It'd be nice to have an alternative!

 It should be straightforward to implement using `quill-finagle-mysql` as example. There are two things that seem to be different though:

1. I couldn't find transaction support in `finagle-postgres`. Is it av

[2015-12-05 01:17] fwbrasil commented on #9
@schmitch The file is read using the typesafe config library. It provides some alternative strategies for configuration definition:

https://github.com/typesafehub/config#standard-behavior

Let me know if this is what you're looking for.

[2015-12-05 01:17] fwbrasil commented on #9
I'm closing the issue for now, please feel free to reopen it if necessary.

[2015-12-05 01:36] fwbrasil commented on #7
@cvogt It'd be simple to expose a new method receiving the `MongoQuery` and using `MongoQueryShow` to translate it to string. I think it's better to wait for a real use case before exposing it though.

[2015-12-05 01:48] fwbrasil opened #10 "Sql probing connection leak"
The database connection pool is not being closed after SQL probing. This behavior becomes problematic for users running long-lived sbt sessions with `~testOnly`.

The sources are loaded at compile time by the [`ResolveSourceMacro`](https://github.com/getquill/quill/blob/master/quill-core/src/main/scala/io/getquill/source/ResolveSourceMacro.scala) and used by [`SqlSourceMacro.prepare`](https://gith

[2015-12-05 02:02] fwbrasil opened #11 "Sources can't be defined using the REPL"
The config fails to load because `Class.getSimpleName` fails for objects defined in the REPL.

Possible solutions:

1. Inject the config name in `ResolveSourceMacro`, avoiding the runtime reflection (`getSimpleClass`).
2. Use `getName` instead of `getSimpleName` and parse the result.

The first solution is the best one, but it is more complex. The second solution is also acceptable.

[code]

[2015-12-05 02:08] fwbrasil opened #12 "Insert/update case class instances directly"
Quill requires explicit definition of all columns:

[code]

the execution uses tuples, not the case class instances:

[code]

Using case class instances directly should be supported:

[code]

Tasks

* [ ] There's a similar mechanism in place for queries. If a case class is selected, the [query is flattened](https://github.com/getquill/quill/blob/0a57251dfbb4827ea2947b9b42908d8bf1da51bd/quill-core/

[2015-12-06 15:46] fwbrasil opened #13 "Review and document transaction support"
Quill has support for transactions but it is not documented yet. I didn't document it because the current API needs a review, each `Source` implementation has a complete different transaction implementation. This issue is meant to review the current implementation, make the changes if necessary, and document the feature.

* [ ] Review [`AsyncSource`](https://github.com/getquill/quill/blob/0a57251d

[2015-12-06 15:54] fwbrasil opened #14 "Insert returning ID"
Depends on https://github.com/getquill/quill/issues/6.

The recommended way of returning IDs from inserts is [using infix](https://github.com/getquill/quill/blob/0a57251dfbb4827ea2947b9b42908d8bf1da51bd/README.md#infix). It should be a feature supported by `quill-sql`.

* [ ] Implement an implicit class in `quill-sql` using `infix`. It'll be similar to the readme example, but using the implicit me

[2015-12-06 15:55] fwbrasil opened #15 "`for update` support"
Depends on https://github.com/getquill/quill/issues/6.

The recommended way of using `FOR UPDATE` is [using infix](https://github.com/getquill/quill/blob/0a57251dfbb4827ea2947b9b42908d8bf1da51bd/README.md#infix). It should be a feature supported by `quill-sql`.
- [ ] Implement an implicit class in `quill-sql` using `infix`. It'll be similar to the readme example, but using the implicit mechanism d

[2015-12-06 16:25] fwbrasil opened #16 "upsert support"
Quill requires multiple queries to use the upsert (insert or update) pattern:

[code]

It should support a single `upsert` statement:

[code]
- [ ] Verify if the supported databases (mysql and postgres for now) have support for upserts using a single and atomic sql statement. If not, we might need to redesign the change.
- [ ] Add a new trait similar to [`Insertable`/`Updatable`](https://github.co

[2015-12-06 16:47] fwbrasil opened #17 "sql warnings"
Quill allows the user to read non-optional fields from nullable database fields. For instance, some [fallbacks](https://github.com/getquill/quill/blob/master/quill-jdbc/src/main/scala/io/getquill/source/jdbc/JdbcDecoders.scala#L34) are in place to support this scenario.

Quill should emit compilation warnings during the sql probing if a nullable field is being read to a non-optional value.

* [ ]

[2015-12-06 17:09] fwbrasil opened #18 "quill-core artifact for ScalaJS"
Quill's core should cross-compile to ScalaJS, enabling usage of new submodules like `quill-graphql` in ScalaJS.

* [ ] Check if [`typesage-config` and `scala-logging`](https://github.com/getquill/quill/blob/0a57251dfbb4827ea2947b9b42908d8bf1da51bd/build.sbt#L21) provide ScalaJS artifacts. If not, move the dependencies and specific code to `quill-sql`.
* [ ] Check what version of [`scalatest`](http

[2015-12-06 19:59] fwbrasil opened #19 "GraphQL queries support"
Some paths we could follow:

**schema**
[code]

**target query**
[code]

**Option 1 - Translate collection-like queries to GraphQL**
[code]

**Option 2 - Create a new DSL similar to the target lang**
[code]
This is just to give an initial idea on how it could be!

I'm leaning toward the first option.

[2015-12-06 20:15] fwbrasil opened #20 "Additional random-generated query tests"
The [`QueryGenerator`](https://github.com/getquill/quill/blob/7c095a133320c80e8011f3eb28a0dac9c4624638/quill-core/src/test/scala/io/getquill/norm/QueryGenerator.scala) is used by [`NormalizeSpec`](https://github.com/getquill/quill/blob/034169f77968bc35f582ccf576954f29f7ce855c/quill-core/src/test/scala/io/getquill/norm/NormalizeSpec.scala) and [`SqlQuerySpec`](https://github.com/getquill/quill/blob

[2015-12-06 20:20] fwbrasil opened #21 "IO monad"
Similar to Slick's [`DBIO`](http://slick.typesafe.com/doc/3.0.0/dbio.html). It should be possible to use it with any of the `Source` implementations.

[2015-12-07 13:13] omervk opened #22 "Support org.postgresql:postgresql"
The documentation states that we should use the artifact ```postgresql``` from the group ```postgresql```, when the last release was in 2011 and newer releases are in the group ```org.postgresql```.

[2015-12-08 05:24] fwbrasil opened #23 "Better IntelliJ IDEA support"
IntelliJ doesn't support whitebox macros. To workaround this limitation, all macros need to either be annotated with return types or converted to blackbox.

* [ ] [quotation](https://github.com/getquill/quill/blob/0a57251dfbb4827ea2947b9b42908d8bf1da51bd/quill-core/src/main/scala/io/getquill/quotation/Quotation.scala#L21) - generates type refinements with type-level information about the AST. Chec

[2015-12-08 05:29] fwbrasil opened #24 "implicit `query[T]` call"
Some people consider `query[T]` boilerplate code. I don't agree that it is boilerplate, but it'd be nice to provide to these users a convenience implicit from case classes companion objects to `query[T]`. It should require explicit import, not being available under `io.getquill` directly.

[2015-12-08 05:30] fwbrasil opened #25 "Optimistic offline locking"
See http://martinfowler.com/eaaCatalog/optimisticOfflineLock.html.

Design yet to be defined.

[2015-12-08 05:31] fwbrasil opened #26 "Migrations"
Decide if Quill should have a migration module. If not, document the recommended library for migrations.

[2015-12-08 05:33] fwbrasil opened #27 "In-memory collections support"
Quotations could be translated to optimized execution on top of in-memory collections. Example: https://github.com/johnynek/inliner#collections.

[2015-12-08 05:35] fwbrasil opened #28 "Automatic batching"
Depends on https://github.com/getquill/quill/issues/21.

The IO monad could provide an integration with http://getclump.io to optimize the execution plan.

[2015-12-08 05:37] fwbrasil opened #29 "Transaction isolations for sql modules"
There's no way to define the [isolation level](http://www.postgresql.org/docs/9.4/static/transaction-iso.html) of sql database transactions.

[2015-12-08 05:40] fwbrasil opened #30 "Easy CRUD"
Provide a simple and clean API for CRUD operations.

For inspiration:
https://spring.io/guides/gs/accessing-data-jpa/
https://github.com/strongtyped/active-slick

[2015-12-08 05:42] fwbrasil opened #31 "ID handling"
For inspiration: https://github.com/VirtusLab/unicorn

[2015-12-08 05:55] fwbrasil opened #32 "Foreign key convenience method"
Prototype

[code]

[code]

Expands to:

[code]

Usage:

[code]

[2015-12-08 05:57] fwbrasil opened #33 "Nested transactions"
Support for nested isolated transactions using [savepoints](https://en.wikipedia.org/wiki/Savepoint).

[2015-12-08 05:58] fwbrasil opened #34 "Oracle dialect"
The dialect creation itself is simple, the hard part is have integration tests in place for it.

[2015-12-08 05:59] fwbrasil opened #35 "SQLServer dialect"
The dialect creation itself is simple, the hard part is have integration tests in place for it.

[2015-12-08 06:00] fwbrasil opened #36 "Hsql dialect"
- [ ] Implement the new dialect using an existing one as example
- [ ] Implement the integration tests `PeopleSpec`, `DepartmentsSpec` and `EncodingSpec` for it

[2015-12-08 06:01] fwbrasil opened #37 "Master-slave support"
Quill should provide built-in support for master-slave setups.

[2015-12-08 07:41] #22 closed

[2015-12-08 07:45] omervk commented on #22
Thank you :)

[2015-12-08 07:47] fwbrasil commented on #22
You're welcome! :)

You should be able to use the latest postgres driver with the `0.1.0` version. The documentation was wrong.

[2015-12-08 18:49] fwbrasil opened #38 "Mutation testing"
[100% test coverage is not enough](http://tech.cars.com/2014/12/01/MutationTesting.html). Let's give [sbt-pit](https://github.com/hcoles/sbt-pit) a try.

[2015-12-09 03:34] fwbrasil commented on #38
It doesn't produce meaningful mutations for Scala code.

[2015-12-09 03:34] #38 closed

[2015-12-10 19:10] fwbrasil opened #39 "TPC-H benchmark"
Implement a simplified version of the [TPC-H](http://www.tpc.org/tpc_documents_current_versions/pdf/tpch2.17.1.pdf) benchmark.

Subjects for the first version:

- quill
- slick

[2015-12-10 19:11] fwbrasil opened #40 "Databen.ch benchmark"
Create a quill subject for the [databen.ch](https://github.com/databench/databench) benchmark.

[2015-12-10 19:14] fwbrasil opened #41 "Microbenchmark"
- Normalization
- Query generation
- Result extraction

What's the best lib?

https://scalameter.github.io
http://openjdk.java.net/projects/code-tools/jmh/

[2015-12-11 13:11] rfranco commented on #30
##### It's the first draft and i'll be updating it as soon i can with more details.
##### So let's start a discuss about the idea.

I'd like to proposal an implementation based on [Spring Data](http://projects.spring.io/spring-data) but that use macro to create and implement the repository in compile time

### Example

[code]
### Macro

Macro will expand and implement the `UserRepository` as

[cod

[2015-12-11 15:47] fwbrasil opened #42 "Comprehensive and actionable error messages"
* [ ] Change all error messages (search for `fail`) to have a comprehensive and actionable text
* [ ] Add a link to a documentation page with a detailed explanation of the error.
* [ ] If the error is a bug, provide a link to submit a github issue. Ex.: https://github.com/getquill/quill/issues/new?title=test&body=body

[2015-12-11 15:51] fwbrasil commented on #30
Sounds great, @rfranco! Let me know if you need help with it.

[2015-12-15 12:21] janheise opened #43 "License"
Hi, just a small thing: I think the license referenced in build.sbt is not correct, it references LGPL and not ASL.

Best regards,
Jan

[2015-12-15 12:47] rfranco opened #44 "Titan distributed graph database support"
http://thinkaurelius.github.io/titan/

[2015-12-15 17:40] #43 closed

[2015-12-15 17:40] fwbrasil commented on #43
Thanks for reporting, I've just fixed it.

[2015-12-15 22:21] b0c1 opened #45 "H2 Dialect"

[2015-12-15 22:22] b0c1 opened #46 "OrientDB Graph and Document support"
OrientDB have graph and document api too, support it will be a great

[2015-12-15 23:59] fwbrasil commented on #45
cc/ @janheise

[2015-12-16 03:30] Centaur opened #47 "quill-sql: `like` implicit class"
Sqls like `select * from users where name like '%a%'` are normal in real world applications. How to write a quote to express this ?

[2015-12-16 14:00] b0c1 commented on #26
I prefer typed migration (activate framework like...?)

[2015-12-16 14:04] cvogt commented on #26
@lastland's Scala Forklift is a framework agnostic tool to manage versions and apply migrations written in Scala. Worth checking out as a potential solution to one piece of the puzzle.

https://github.com/lastland/scala-forklift/issues/14

https://github.com/lastland/scala-forklift

[2015-12-16 15:21] fwbrasil commented on #26
@cvogt thanks for the pointer! :) I didn't know about forklift.

[2015-12-16 15:33] cvogt commented on #26
@fwbrasil It was developed last summer. @lastland is a smart and dedicated guy, I am sure he is willing to help with the integration should this be considered.

[2015-12-16 15:34] cvogt commented on #26
interesting about forklift is also that it has a notion of working while developing in a world of branches ... switching the schema when switching the branch

[2015-12-16 15:47] lastland commented on #26
@cvogt Thanks for the reference!

@fwbrasil Would be glad if I could help on this issue. :smile:

Now Forklift makes use of `slick-codegen` to maintain database models in the code. I'm not very sure yet how this works with quill. Perhaps need a code generator for quill? (it seems quite easy, since it only need to generate a case class)

And I haven't found any support for alter table operations in

[2015-12-16 17:30] fwbrasil commented on #47
Hi @Centaur,

The operation is currently not built-in in Quill. You can use infix for now:

[code]

Another alternative is define a reusable `like` quotation:

[code]

I'm also working on implicit class support (https://github.com/getquill/quill/issues/6), it'll make these reusable functions easier to read.

I'm going leave this issue open to provide the `like` implicit class in `quill-sql`.

[2015-12-16 20:13] fwbrasil commented on #26
@lastland, quill doesn't have support for DDLs. Let me have a look at your library in the envening so we can discuss it further.

[2015-12-16 20:50] cvogt commented on #26
@lastland I think a starting point for forklift with quill would be untyped plain sql and no code generation.

[2015-12-17 01:33] Centaur commented on #47
Ok. That helps. Thank you.

[2015-12-17 07:24] #6 closed

[2015-12-17 07:36] Centaur commented on #47
In your reusable `like` implementation, how to allow q to have a parameter, I tried

[code]

but it does not compile.

[2015-12-17 07:48] fwbrasil commented on #47
@Centaur would you mind using `https://gitter.im/getquill/quill` so it's easier to troubleshoot it together?

[2015-12-17 08:03] fwbrasil opened #49 "quotation: support string interpolation"
[code]

[2015-12-17 08:50] #49 closed

[2015-12-17 09:12] #47 closed

[2015-12-17 09:19] fwbrasil opened #50 "quill-sql: additional sql-specific operations"
See https://github.com/getquill/quill#sql-specific-operations

- for update
- returning id
- ...

[2015-12-17 10:41] lastland commented on #26
Hi, I have just implemented a prototype to demonstrate how to use Forklift to do database migrations on Quill: https://github.com/lastland/scala-forklift-quill

This demo still contains some hard code and unimplemented features, but I believe it's sufficient to show how it works.

Please refer to [README](https://github.com/lastland/scala-forklift-quill/blob/master/README.markdown)  to see how to

[2015-12-18 04:44] fwbrasil opened #52 "Cassandra support"
Could specialize quill-sql to generate CQL.

What driver should we use?

https://github.com/websudos/phantom
http://docs.datastax.com/en/developer/java-driver/2.0/java-driver/whatsNew2.html

[2015-12-18 04:46] fwbrasil commented on #50
Duplicate of #14 and #15

[2015-12-18 04:46] #50 closed

[2015-12-18 19:11] mariusmuja opened #53 "Chaining leftJoins"
Trying to chain several leftJoins like so:

[code]

results in the following compilation error:

[code]

Is it possible to chain multiple left/right/outer joins?

[2015-12-18 23:53] fwbrasil commented on #53
There are two not supported operations in your query:

- `on` doesn't support pattern matching (`case`)
- `option.exists` is not supported

Alternative query using supported operations:

[code]

I hope to cut a release supporting these operations this weekend.

[2015-12-19 06:15] #53 closed

[2015-12-19 06:31] fwbrasil opened #54 "Fix flaky integration test"
Example of failure:

https://travis-ci.org/getquill/quill#L3326

[2015-12-19 06:58] fwbrasil commented on #45
tracked by #48

[2015-12-19 06:58] #45 closed

[2015-12-19 19:11] mariusmuja commented on #53
I can confirm it all works now, thanks!

[2015-12-20 06:55] #23 closed

[2015-12-22 16:03] rfranco opened #56 "Select row polymorfism"
the idea is to auto map the select in the case class

[code]

Another use case

[code]

[code]

[code]

[2015-12-22 16:05] Jacoby6000 opened #57 "Use HList instead of List[Any] for prepared statements"
Currently, queries accept a List[Any] for parameters in their prepared statements. I think it would be a huge improvement to use an HList or something similar, to retain type safety at the time that those are filled in.

[2015-12-22 16:28] fwbrasil opened #58 "support collection infix"
Similar to macro quasiquotes

[code]

[2015-12-22 16:33] fwbrasil commented on #57
@Jacoby6000 Are you using IntelliJ? It infers the wrong types in `0.1.0`. Could you test if the `0.1.3` version solves your problem?

[2015-12-23 06:13] mariusmuja opened #62 "Incorrect SQL generated"
The following code:

[code]

generates this SQL query:
[code]

which contains two errors:
  * the id column in the inner select is ambiguous
  * the personId column in the inner select should be person_id (using SnakeCase)

[2015-12-23 06:57] mariusmuja opened #63 "Error using aggregate functions"
The following code:
[code]

fails to compile:
[code]

[2015-12-23 10:04] fwbrasil commented on #63
Could you check if the problem is solved using the `0.1.4-SNAPSHOT` version? Thanks!

[2015-12-23 10:39] fwbrasil opened #64 "Review `ExpandNestedQueriesSpec`"
While fixing #62, I noticed that this test class was commented out.

[2015-12-23 10:56] fwbrasil commented on #62
The fix for this issue is also available. Please let me know if it works with `0.1.4-SNAPSHOT`.

[2015-12-23 17:25] mariusmuja commented on #62
Confirming that the fix works in 0.1.4-SNAPSHOT, thanks.

[2015-12-23 17:28] mariusmuja commented on #63
Confirming that the initial issue is solved, however changing the query to this:

[code]

results in:

[code]

[2015-12-23 19:27] #63 closed

[2015-12-23 19:32] mariusmuja commented on #63
Confirming the issue fixed, thanks.

[2015-12-23 19:45] fwbrasil commented on #63
@mariusmuja Thanks for the feedback.

 Are you building quill from source? The snapshot with the last fix just got published: (https://travis-ci.org/getquill/quill/builds/98574777)

[2015-12-23 19:46] mariusmuja commented on #63
Yes, I was building from source.

[2015-12-24 01:15] mariusmuja commented on #62
I noticed another issue: if a single field is selected, the query is not correct:

[code]

The generated query is:
[code]

The outer select should be c.id, not c.

[2015-12-24 09:41] #12 closed

[2015-12-24 11:15] #62 closed

[2015-12-24 18:35] mariusmuja opened #66 "Checking for NULL in a left/right/outer join"
The following code:

[code]

Results in the following incorrect query:
[code]

It should generate: ```c.id IS NOT NULL``` instead of ```c.id.is_defined``` (similarly ```.isEmpty``` should generate ``` IS NULL```).

I was able to get it working by using the following infix conversions:
[code]

and using ```isNotNull``` in place of ```isDefined``` and ```isNull``` in place of ```isEmpty```, however

[2015-12-24 19:19] mariusmuja opened #67 "Min/Max in aggregations"
Performing a min/max in an aggregation on a type U, requires an implicit Numeric[U] to be present. Shouldn't they require an Ordering[U] implicit instead?

[2015-12-24 20:47] fwbrasil commented on #67
Yep, it's wrong.

Would you like to send a pull request? I think it requires only changing the [method declarations](https://github.com/getquill/quill/blob/master/quill-core/src/main/scala/io/getquill/Query.scala#L20) and [adding tests](https://github.com/getquill/quill/blob/master/quill-core/src/test/scala/io/getquill/quotation/QuotationSpec.scala#L66)

[2015-12-25 01:41] mariusmuja opened #71 "Ordering query results"
The following code:

[code]

Produces this query:
[code]

It's possible to reverse the order (```.reverse```) and get ``` ORDER BY p.id DESC NULLS LAST, p.name DESC NULLS LAST```, but there doesn't seem to be a way to get other combinations for example ```p.id DESC NULLS FIRST,  p.name NULLS LAST```.

[2015-12-25 04:06] #67 closed

[2015-12-25 04:08] fwbrasil commented on #71
@mariusmuja It's possible to define multiple `sortBy` clauses:

[code]

I'm closing the issue for now, please feel free to reopen it.

[2015-12-25 07:52] fwbrasil commented on #54
It's not happening anymore. Closing this for now.

[2015-12-26 03:13] #10 closed

[2015-12-26 03:14] #54 closed

[2015-12-26 17:33] fwbrasil commented on #26
@lastland Thanks for putting together the example project, I'm sorry for taking so long to give you feedback on this. I was focusing on releasing the `0.2.0` version.

Quick question about forklift: does it support reverting the schema to previous versions (similar to ruby's up/down mechanism)?

[2015-12-26 17:39] fwbrasil opened #72 "`contains` operator (sql `in`)"
[code]

Questions:

- How do we handle dynamic lists?
- Should we use `Set` instead of `List`?

[2015-12-26 17:54] fwbrasil commented on #56
I was wondering about this feature and I'm not sure it's necessary anymore. Why not query `BasicUser` directly?
[code]

[2015-12-26 17:54] fwbrasil commented on #57
I'm closing this issue, please feel free to reopen it.

[2015-12-26 17:54] #57 closed

[2015-12-26 18:09] rfranco commented on #56
because it's possible to filter by the field but doesn't return that.

[code]

[2015-12-26 22:14] cvogt commented on #26
@fwbrasil What's your use case for down migrations? I know some frameworks offer them (I don't know about forklift), but how important are they in reality?

[2015-12-27 01:11] mariusmuja commented on #71
Yes, I noticed it's possible to chain multiple ```sortBy``` clauses, however as far I as can tell, it's not possible to specify the position of the NULL elements independently of the sort order. For example, it doesn't seem to be possible to get something like ```ORDER BY name DESC NULLS FIRST```. Please let me know if I'm missing something and this is possible.

As a side note, chaining multiple

[2015-12-27 02:47] fwbrasil commented on #56
@rfranco makes sense, let's keep the issue open.

[2015-12-27 02:49] fwbrasil commented on #26
@cvogt Activate provides this feature and it is very convenient, specially for very large schemas that can't be easily recreated from scratch.

[2015-12-27 02:52] fwbrasil commented on #71
That's true, but isn't it also true for scala collections?

Could you elaborate?

[2015-12-27 09:04] mariusmuja commented on #71
Yes, but in scala is possible to change the ordering using the implicit ordering argument. I think there should be a way in quill to specify the position of the NULL elements (first or last) regardless of the order (asc or desc), as it's possible in SQL.

Also somewhat related:  the implicit ordering argument in the sortBy method doesn't seem to be used in the construction of the AST as far as I c

[2015-12-27 09:12] lastland commented on #26
@fwbrasil Hi, Forklift does not currently support down operations. I don't know much about the down operations' real-world use cases, but I imagine (correct me if I'm wrong) the most use cases are:

1. Revert the previous migration(s) permanently.
2. Use "revert to" to get to a specific version of database and write some code, then probably "update" back.

For the first case one can define another

[2015-12-27 11:19] cvogt commented on #26
@fwbrasil right, but in what situation would you want to go back to an older version?

[2015-12-27 17:59] fwbrasil commented on #26
- Running a local database with the latest version, I can go back to an older revision, fix an issue, and switch back to master.
- New version has a severe bug and needs to be rolled back, the database schema also needs to be rolled back.

[2015-12-27 18:05] fwbrasil commented on #26
I see, it seems to be an alternative. I'd consider up/down migrations a better solution for both scenarios though.

[2015-12-27 18:17] fwbrasil commented on #71
It sounds like a good change, would you like to open another issue with details on how you imagine the API would be?

Thanks for elaborating it, I didn't realize this when designing the API. I think the solution would be introduce the `QuillOrdering` and change the normalization code so it doesn't fuse multiple `sortBy`s. For instance:

[code]

[2015-12-27 21:49] lvicentesanchez commented on #52
Phantom introduces lots of transitive dependencies like play-iteratees or shapeless... I quite like the idea of being able to use quill to query cassandra but not at the price of bringing phantom and all of its dependencies. That would be just too much for any of my projects.

[2015-12-27 23:07] fwbrasil commented on #52
@lvicentesanchez do you recommend the datastax driver? Do you know if the async interface is mature?

[2015-12-28 04:20] mariusmuja commented on #71
Sure, I'll try to do that.

I like it.

[2015-12-28 05:39] #71 closed

[2015-12-28 15:07] fwbrasil opened #74 "Actions don't respect the naming strategy"
Reported by @exlevan on gitter.

[code]

[2015-12-28 15:08] #74 closed

[2015-12-28 15:18] fwbrasil opened #75 "100% test coverage"
The test coverage is reducing since the initial release.
- Achieve 100% coverage again
- Fail the build if coverage is < 100%

[2015-12-28 16:02] cvogt commented on #26
Here are a few thoughts:
- the so far stated use cases for down migrations were development scenarios, which give us a much easier time because we don't have live data to retain. use cases for down migrations (instead of undoing up migrations) with live data are thinkable, but seem much much rarer
- for development scenarios, where live data is irrelevant, reapplying up migrations from the beginni

[2015-12-28 19:40] rfranco commented on #56
Another use case

[code]

[code]

[code]

[2015-12-29 20:08] megri opened #76 "Enable customizable quotation of common methods like String#startsWith"
**Problem description**

As things stands only a small subset of available methods on common types are supported for quotation.

[code]

The existing workaround is to create a similarly named extension method:

[code]

There are several drawbacks with this approach. To name a few:

* Creating a new method for existing functionality clutters the namespace
* Other strings outside of a quotation but

[2015-12-29 22:30] lvicentesanchez commented on #52
I have used the datastax driver in my last 3 projects involving cassandra and I had no issues; I also used the async interface to return scala futures instead of wrapping blocking calls with Futures, and no issues either.

[2015-12-30 17:43] fwbrasil opened #77 "quotation: support `val`"
It's common to see users trying to extract `val`s within quotations.

[2015-12-31 05:21] fwbrasil opened #78 "support `if/`else` (sql `case`/`when`)"

[2015-12-31 08:25] #78 closed

[2015-12-31 08:29] fwbrasil opened #79 "support GROUP BY HAVING"

[2016-01-01 02:26] fwbrasil opened #80 "quotation: allow custom ordering"
Reported by @mariusmuja (https://github.com/getquill/quill/issues/71#issuecomment-167395938).

[2016-01-02 08:05] fwbrasil opened #83 "support value pattern matching (sql `case`/`when`)"
[code]

[2016-01-02 08:09] #24 closed

[2016-01-02 08:16] fwbrasil opened #84 "reduce build time"
It's taking too long. It seems that source files with too many lines slow down the build considerably (i.e. `SqlIdiomSpec`)

[2016-01-02 16:38] #80 closed

[2016-01-03 07:10] mariusmuja opened #85 "Simple expressions in sortBy"
As mentioned in #82, simple expressions in ```.sortBy``` don't seem to work:

[code]
results in:
[code]

[2016-01-03 18:37] fwbrasil opened #87 "support `distinct`"

[2016-01-03 21:57] derrickburns opened #88 "Support postgres aggregations"
How can I use the `json_agg` aggregation or other Postgres defined aggregations?

I tried this:

[code]

[2016-01-03 23:53] fwbrasil commented on #88
@derrickburns What is the error?

[2016-01-03 23:58] derrickburns commented on #88
[code]
                        ^

[2016-01-04 00:16] fwbrasil commented on #88
@derrickburns I don't know these postures-specific APIs, does `jsonAgg` return a `String`? It seems that the infix should be `as[String]`.

[2016-01-04 00:17] fwbrasil commented on #88
BTW, the gitter channel is the best way to get help with this kind of problems: http://gitter.im/getquill/quill

[2016-01-04 00:25] derrickburns commented on #88
I changed the type cast to `as[String]`. Doesn't matter.

[2016-01-04 00:50] fwbrasil commented on #88
Solved on gitter. I'm closing the issue for now, please reopen when you have some time to post that example that produces that long error message.

[2016-01-04 00:50] #88 closed

[2016-01-04 22:04] derrickburns opened #89 "Exception during macro expansion (Expand Nested Queries)"
[QuillSchema.scala](https://files.zenhub.io/568aec26fc8895f63ab9e9b9)
Uploaded using [**ZenHub.io**](http://www.zenhub.io)

[code]

[2016-01-06 02:55] jilen opened #90 "Increment/Decrement on numeric field"
`query[Account].filter(_.id == userId).update(_.remain -> _.remain + 1)`  how to achieve such queries ?

[2016-01-06 05:15] fwbrasil commented on #90
It's currently not supported, it should be available soon.

[2016-01-06 08:24] fwbrasil opened #91 "`on` using mapped columns generates invalid sql"
[code]

[2016-01-06 08:32] #89 closed

[2016-01-06 08:38] fwbrasil opened #93 "Spark SQL integration"
"Unlike the basic Spark RDD API, the interfaces provided by Spark SQL provide Spark with more information about the structure of both the data and the computation being performed."

[2016-01-06 10:12] jilen opened #94 "Custom naming strategy not work"
[code]
When I try to implement an custom mysql escape nameing strategy, compiler complains

[2016-01-06 10:18] #94 closed

[2016-01-06 10:18] jilen commented on #94
the 0.2.1 version actually not support column, table, method

[2016-01-06 15:52] fwbrasil commented on #94
@jilen Yes, it's available only on `2.2-SNAPSHOT`. If you'd like to use it,

1. The class is compiled before the source folder using it. It's the same procedure as macros, see the sbt documentation for more information: http://www.scala-sbt.org/0.13.5/docs/Detailed-Topics/Macro-Projects.html
2. Add the maven central's snapshot repo: `resolvers += Resolver.sonatypeRepo("snapshots")`

[2016-01-07 03:51] #90 closed

[2016-01-07 04:22] fwbrasil commented on #90
@jilen The feature is available on `2.2-SNAPSHOT`, could you test it?

[2016-01-07 04:46] #85 closed

[2016-01-07 05:38] fwbrasil commented on #85
@mariusmuja Could you test it on `0.2.2-SNAPSHOT`?

[2016-01-08 07:12] fwbrasil opened #95 "support `distinct`"

[2016-01-10 21:05] fwbrasil opened #96 "Add Quill to "Scala community builds""
https://github.com/scala/community-builds

[2016-01-12 06:51] jilen opened #97 "Custom table naming strategy not work"
[code]

I try to quote mysql table and column with above strategy.

But sqls are also compiled to
[code]

table names and column names are not escaped.

[2016-01-12 06:54] jilen commented on #90
I've tested this, it's ok

[2016-01-12 14:49] fwbrasil commented on #97
@jilen Please try to override only `default`, reading the code I think there's a bug with `table`/`column`.

[2016-01-12 15:50] #52 closed

[2016-01-12 15:51] fwbrasil opened #98 "quill-cassandra: infix support"
There's no test for infix support with cassandra. It seems to be broken for full-infix queries.

[2016-01-12 15:52] fwbrasil opened #99 "quill-cassandra: Expose all config options available in Cluster.builder"
https://github.com/getquill/quill/blob/master/quill-cassandra/src/main/scala/io/getquill/source/cassandra/ClusterSession.scala

[2016-01-12 15:52] fwbrasil opened #100 "quill-cassandra: Provide implicit quotations for the cql-specific features"
https://cassandra.apache.org/doc/cql3/CQL.html

[2016-01-12 15:53] fwbrasil opened #101 "quill-cassandra: Allow definition of QueryOptions"
Example: `db.run(q, QueryOptions.setConsistencyLevel(QUORUM))`

[2016-01-12 15:54] fwbrasil opened #102 "quill-cassandra: Documentation"
The new module is not documented yet.

[2016-01-12 17:32] #97 closed

[2016-01-13 06:01] #98 closed

[2016-01-16 17:29] #100 closed

[2016-01-17 06:03] #99 closed

[2016-01-17 08:07] #101 closed

[2016-01-17 09:28] #102 closed

[2016-01-17 09:29] fwbrasil commented on #52
@lvicentesanchez All the pending features were implemented. Please check https://github.com/getquill/quill/issues/102 for more details.

[2016-01-17 09:40] fwbrasil opened #105 "quill-cassandra: zookeeper support"

[2016-01-17 19:29] fwbrasil opened #106 "quill-cassandra: reactive streams"
Using https://github.com/monifu/monix.

[2016-01-22 05:44] fwbrasil opened #108 "quill-play"
Sub-module to use play's data source configs.

[2016-01-22 06:08] #106 closed

[2016-01-22 12:28] lvicentesanchez opened #109 "quill-cassandra: graceful shutdown"
In this simple program,

[code]

the JVM keeps running after printing the result and closing the session because the cluster is still up and running. The close method should close both the session and the Cluster.

[2016-01-22 14:58] #109 closed

[2016-01-22 15:06] fwbrasil opened #110 "insert - exclude specific columns"
[code]

[2016-01-22 15:08] fwbrasil opened #111 "java8 date apis"
Quill currently using `java.util.Date`

[2016-01-22 22:32] KarelCemus commented on #30
I vote for the Rich Domain Model implementation, i.e., something like Active Record pattern. It is basically just a shortcut for current API, so I do not see a point to design it as a repository.

For inspiration see [scala-activerecord](https://github.com/aselab/scala-activerecord/wiki/Using-Models#basic-operations)

[2016-01-22 23:28] lvicentesanchez opened #113 "use of value classes in filters"
I'm testing quill-cassandra and I found that you can't use value classes as properties of the entities. You can get all elements of a column family, and that works fine; but if you want to filter the column family, the CQL query that is generated is not valid.

I have created this [gist](https://gist.github.com/lvicentesanchez/b53a20019245e7477119) with a simple program that reproduces this proble

[2016-01-22 23:49] lvicentesanchez commented on #113
So... it seems the problem has been a misunderstanding on how the dynamic queries work. If change,

[code]
to,
[code]
and everything work as expected.

[2016-01-23 10:48] fwbrasil commented on #113
Good to know that it's working. I'll leave this ticket open to provide a better error message.

[2016-01-23 12:07] fwbrasil commented on #113
BTW, why do you use dynamic queries in your examples? Ideally, the queries should not be casted to 'Quoted' so 'db.run' has compile-time information to generate the query.

[2016-01-23 13:40] lvicentesanchez commented on #113
This is a simplified version of a problem I found while porting one of my apps. In my app the parameters of most of my queries are not know until runtime so I have to use dynamic queries.

[2016-01-23 13:57] fwbrasil commented on #113
You just need dynamic queries if the structure of the query isn't known at compile time. Parameters can be defined by quoting functions and passing the parameters when running the query: 'db.run(q)(yourRuntimeParams)'

[2016-01-24 06:53] KarelCemus commented on #108
Hi, very nice library! I'd like to use it with the Play framework. I tried to look up any example or tutorial how to use it together, but I found nothing. Is there anything?

Then I wanted to implement it myself but failed. First, I've overridden a datasource to use the one managed by Play.

[code]

I browsed your code and it seemed enough. There should be no need to create new data sources or rea

[2016-01-24 07:40] KarelCemus opened #114 "Composed types (embedded)"
Often it is useful a decompose complex classes into several classes with 1:1 mapping. Some frameworks supports so-called embedded/embeddable classes, which are basically serialized into their owners in object-relational mapping.

For inspiration, see [Hibernate @Embedded](http://www.concretepage.com/hibernate/example-embeddable-embedded-hibernate-annotation)

## Note

I suggest to split this issue

[2016-01-24 09:03] KarelCemus opened #115 "Var fields not in constructor"
I am not sure if this is an issue or just a question, existing examples do not mention this use case. All examples use case classes with all fields in their primary constructor such as:

[code]

However, often there are situations, where it would be real simplification when we could persist `var`s not in a constructor. For example, I consider fields such as `id`, `validUntil`, `version` (optimisti

[2016-01-24 09:13] KarelCemus commented on #95
Duplicate of #87

[2016-01-24 09:33] fwbrasil commented on #95
@KarelCemus Thanks for finding the duplication!

[2016-01-24 09:33] #95 closed

[2016-01-24 09:40] fwbrasil commented on #115
@KarelCemus I'd say it's better to avoid using `vars`, but I think it'd be nice to support values defined outside of the case class constructor any way.

I'm not totally sure, but maybe this scenario is already supported. Could you check if you have problems trying to use it and report back? Thanks!

[2016-01-24 09:46] KarelCemus commented on #115
I know, `vars` are gray zone, but I think the feature would save plenty efforts in certain use cases, e.g., as mentioned above. Personally, I consider copy-paste code worse evil than `vars`.

I am not sure if it works either, as I mention in #108. I am unable to run quill it right now. But I'll get back to this when I run it and then let you know.

[2016-01-24 09:47] fwbrasil commented on #114
@KarelCemus Thanks for the detailed report!

Nested case classes are already supported, but the feature isn't yet documented because I'm not sure they play well with other features. Example:

[code]

Note that the column name is the path of the nested value, for example `contactphone` for `contact.phone`. I'm going to leave this issue open to test, document the feature, and provide a way to custom

[2016-01-24 09:51] KarelCemus commented on #114
@fwbrasil Glad to hear! Great job! (With whole quill, love it, although it's under development)

[2016-01-24 09:59] fwbrasil commented on #108
I think @rfranco uses Quill with Play, but other than that I don't think there's any documentation or user reports on integrating both.

Quill wil use the first class on your source's instance hierarchy that can be instantiated at compile-time. The custom class probably can't be instantiated because it is in the same compilation unit. Try declaring a new source type `PlaySource` in a library and a

[2016-01-24 10:00] fwbrasil commented on #114
Thanks for the feedback @KarelCemus. It's under development and I hope it'll always be. Other than that, it should be ready for production. :)

[2016-01-24 10:07] KarelCemus commented on #114
I mean there are still features I miss to actually use it. I have to wait for them or workaround them, which one I am evaluating right now. Especially #108, #87, #115, #114 plus couple more to verify if they work or not as they are not documented. :-)

[2016-01-24 18:18] fwbrasil opened #117 "Joins and nested tuples"
From @godenji's [comment](https://github.com/getquill/quill/pull/116#issuecomment-174314613).

BTW, have a WIP branch where I'm exploring SQL-like joins. The basic idea is that instead of:

[code]

we would have something like:

[code]

In the former example it's difficult to work out what's happening due to the deeply nested tuples, and that's just a simple 4 table join, real world join queries w

[2016-01-24 18:20] fwbrasil commented on #117
@godenji, why not use filters?

[code]

[2016-01-24 18:57] KarelCemus opened #119 "Auto-incremented primary key"
Relations often have an artificial auto-incremented primary key using either a sequence or auto increment.  I have a relation in Postgres so it uses a sequence. I tried to insert an instance with an artificial primary key but it does not use a sequence, even when conventions fit.

Does Quill support this? Or how could I workaround it without manual select on the sequence?

## Example:

[code]

[co

[2016-01-24 19:12] KarelCemus commented on #115
It seems it does not work in 0.2.2-SNAPSHOT

[code]

[2016-01-24 19:51] KarelCemus opened #121 "Complex filter with optional statements"
In relational databases there are very often filter over data. These filter are highly customizable, i.e., user picks only those conditions he is interested in. Such filter than might look like:

[code]

Then we have to prepare complex statement optionally considering all conditions, if they are used within the filter instance. For example Squeryl uses [inhibitWhen](http://squeryl.org/dynamic-quer

[2016-01-24 19:54] KarelCemus opened #122 "Optionally disable compile-time probing"
Sometimes, it is not necessary to probe SQL statements during compilation. I suggest to allow optionally disable it to avoid extensive warning logs, which might be a bit disturbing and confusing.

Related to #108, where (optional) database evolution applies on runtime during application start, which is after the compilation. In consequence, we might compile against obsolete or non-existing schema.

[2016-01-24 20:06] fwbrasil commented on #122
Sounds good, would a config be a good solution?

[code]

[2016-01-24 20:11] fwbrasil commented on #119
It's currently supported by specifying the columns to be inserted:

[code]

I'm going to close https://github.com/getquill/quill/issues/110 in favor of this issue.

[2016-01-24 20:11] fwbrasil commented on #110
Close in favor of https://github.com/getquill/quill/issues/119.

[2016-01-24 20:11] #110 closed

[2016-01-24 20:11] KarelCemus commented on #122
I guess so but I'm not sure. I'm not much familiar with compilation classpath so I am not sure where to put the config file, especially when Play prefers to have everything under `conf/`. Personally, I think the simplest solution would be to disable it through `build.sbt`, e.g., read it using `System.property` and pass it to the compiler as `scalacOptions`.

But again, not an expert.

[2016-01-24 20:16] KarelCemus commented on #119
So, when I have a class with, e.g., 10 fields plus one autogenerated primary key, I have to list there all but the PK? Three times? (function args, tuples, function call)

[code]

[2016-01-24 20:26] fwbrasil commented on #119
@KarelCemus yep, that's the alternative for now. Some databases also have ability to ignore the insert columns that are auto-generated, maybe it could be another alternative.

[2016-01-24 20:36] KarelCemus commented on #119
I think it is necessary to figure out somethink like that because listing the same fields three times, with the class itself four times, is a lot of boilerplate code.

What about marking annotations such as `@autogenerated` to exclude if from inserts?

[2016-01-24 20:37] fwbrasil commented on #119
Have you seen https://github.com/getquill/quill/issues/110?

[2016-01-24 20:38] fwbrasil opened #124 "suport `option.isEmpty` and `option.isDefined`"

[2016-01-24 20:41] KarelCemus commented on #119
I did but image using this #119 and #115  together.

[code]

Your approach requires excluding id in all insert queries in all entities while mine requires just one line to rule them all. I know, I am too strict with this. It would be enough to support it your way and implement another macro reading my annotation and generating insert query, e.g., as part of #30

[2016-01-24 20:48] fwbrasil commented on #119
I imagine it'd be possible to use an implicit class and provide a method like `insertWithoutId`. I'm strongly opposed to annotations.

[2016-01-24 20:52] KarelCemus commented on #119
Oh I see. Then never mind. Personally, I don't understand why there are so many orthodox "haters" of annotations and people voluntarily choose the hard way but let's do not start a flame war. I think the `exclude` from #110 would be fine.

But regarding my issue, I think excluding the column would not work. In postgres, the value is not auto generated, it uses a sequence. That is a bit different.

[2016-01-25 00:14] lvicentesanchez commented on #122
Having a `queryProbing` optional config option is the most consistent approach. You can set the variable `unmanagedClasspath in Compile` to point to the path which contains the config files you want to have in the classpath at compile time, and it will work :)

[2016-01-25 00:16] lvicentesanchez commented on #93
Do you mean Spark SQL integration through the [JDBC interface](http://spark.apache.org/docs/latest/sql-programming-guide.html#distributed-sql-engine)?

[2016-01-25 00:40] fwbrasil commented on #93
@lvicentesanchez I have no experience with spark. My idea is allow the user to use Quill instead of sql strings in this example: http://spark.apache.org/docs/latest/sql-programming-guide.html#inferring-the-schema-using-reflection

Does it make sense?

[2016-01-25 07:42] jilen opened #125 "Wrong param order of paramalized `update` actions"
An update action like this
[code]
Its statement is
[code]
If we invoke `db.run(mutate)(List(1 -> 10000))` then it will pass `(1, 10000)` to the statement, actually it should be `(10000, 1)`

[2016-01-25 09:39] ngbinh opened #127 "CouchDb integration"

[2016-01-25 10:35] jilen commented on #125
@fwbrasil This is a serious bug. Could have a look at it?

[2016-01-25 10:37] fwbrasil commented on #125
Sure, I'm working on it. Should have a fix today.

[2016-01-25 13:44] #125 closed

[2016-01-25 13:59] fwbrasil commented on #125
@jilen Could you test it on `0.2.2-SNAPSHOT`?

[2016-01-25 14:08] godenji commented on #117
Yes, in this case your implicit join example is equivalent since the tables in both queries are effectively inner joins. If we were to add an outer join requirement, however, an implicit join would not work since it cannot fully replicate an outer join.

For example, let's say we want to find the team stats for FC Barcelona this season.
[code]
If we were to move `s.playerId = ?` from the ON clause

[2016-01-25 20:40] fwbrasil commented on #122
@KarelCemus quick question: you mention extensive warning logs. How many do you get when the query probing isn't working? It should generate a single warning.

[2016-01-25 20:42] lvicentesanchez commented on #122
if the config file is not in the classpath at compile time, you can't fine the session configuration and you get a pretty big stacktrace.

[2016-01-25 20:47] fwbrasil commented on #122
I see, the problem is the long stack trace. I'll try to reduce it as well.

[2016-01-25 20:49] KarelCemus commented on #122
Exactly, thanks @lvicentesanchez .

@fwbrasil Thanks for the fix

[2016-01-25 20:51] schmitch commented on #9
@fwbrasil even then, it's aweful to integrate into other things, since the naming scheme is predefined.

I can't even prefix it correctly without implementing a lot of things again

[2016-01-25 20:57] fwbrasil commented on #122
@KarelCemus @lvicentesanchez in your opinion, should the  `queryProbing` be enabled or disabled by default?

[2016-01-25 20:59] lvicentesanchez commented on #122
imo enabled by default, I want to know asap when a query is wrong.
On 25 Jan 2016 20:57, "Flavio W. Brasil" <notifications@github.com> wrote:

[2016-01-25 21:15] fwbrasil commented on #122
I also think that leaving it enabled by default is better. I'm going to merge https://github.com/getquill/quill/pull/129 once the build passes.

[2016-01-25 21:28] #122 closed

[2016-01-25 21:28] KarelCemus commented on #122
I would prefer to have it disabled by default. I do not know how develop others but 1) I would not assume complex and set up environment (up-to-date db) by default, 2) I may use CI without database, 3) some approaches such as Play evolves DB on start up, etc. In consequence, I'd prefer the simpler and less error-prone set up to have `hello world` running with the least errors as possible. Anyway,

[2016-01-25 21:30] fwbrasil commented on #122
@KarelCemus I see, let's keep it enabled for default for now. We can revisit this decision in the future.

[2016-01-25 23:41] fwbrasil commented on #9
@schmitch Could you provide a more concrete example of what you're trying to achieve?

[2016-01-26 18:47] zarthross opened #130 "Neo4j/Cypher Integration"
Support for Neo4j's Cypher query language would be very compelling.

http://neo4j.com/

[2016-01-27 14:08] fwbrasil opened #132 "quill-cassandra: custom per-query consistency level"

[2016-01-27 14:09] fwbrasil opened #133 "quill-cassandra: easily switch between source types"
Right now the user needs to choose a single source type.

[code]

[2016-01-29 21:57] filosganga commented on #9
Hi,
I think that quill should provide a way to pass a `Config` object from outside. At the moment, it load the `Config` through `ConfigFactory.load()` that is not always enough: In my appllication the `Config` is obtained by a merge of several sources.

[2016-02-01 01:36] gustavoamigo opened #134 "Setting queryProbe=false causes Hikari to fail"
The property queryProbe is passed to Hikari, causing it to fail when executed.

[code]

Suggestion, move the Hikari datasource properties to a sub property called jdbc, something like this.
[code]

[2016-02-01 10:33] #134 closed

[2016-02-01 11:35] fwbrasil opened #135 "Disable query probing through a trait"
[code]

The current solution using a property can be tricky if the user is having problems to setup the properties file.

[2016-02-01 11:37] fwbrasil commented on #134
@gustavoamigo The `0.3.1` release is available on maven central with a fix. I've decided to keep the same configuration keys to avoid breaking the backwards compatibility. There's another issue to move this config to a trait mixing: https://github.com/getquill/quill/issues/135

[2016-02-01 13:54] gustavoamigo commented on #134
@fwbrasil cool, thanks.

[2016-02-02 07:03] jilen opened #138 "Unable to use constant directly defined in object"
We usually define some constant in the `object`. eg.
[code]

Then if we wan't to update status like this
[code]
Then `quill` complains

[2016-02-02 08:49] fwbrasil commented on #138
The constant must be quoted as well:

[code]

[2016-02-02 20:50] rkrx opened #140 "Working example for mappedEncoding"
Can you provide a working example for [custom-encoding](http://getquill.io/#custom-encoding)?
The provided explanation is not enough for me to get the Idea. I've tried to encode/decode `java.time.LocalDateTime` but I had no luck to come to a working solution.

Is it possible to register such encoders/decoders at a more central place, without using `implicit`?

[2016-02-02 21:09] fwbrasil commented on #140
@rkrx Are you using `mappedEncoding` or creating new `Decoder`/`Encoder` instances?

The only way of providing custom encoders is through `implicit` values.

[2016-02-03 09:54] fwbrasil commented on #140
@rkrx I'm closing this issue for now, please reopen if you judge necessary. Also, the gitter channel is normally the best channel for questions: http://gitter.im/getquill/quill

[2016-02-03 09:54] #140 closed

[2016-02-04 02:20] jilen commented on #138
@fwbrasil  I found if field defined as `final val a = 10`, then it the `tree` would be `constant`. So it is better to define constant as `final` (actually this is what we called constant)

[2016-02-04 02:25] fwbrasil commented on #138
Sorry, I'm not sure I understand. Does it work if the field is final?

[2016-02-04 02:31] jilen commented on #138
@fwbrasil Yes

[2016-02-04 02:36] fwbrasil commented on #138
That's interesting! :) The compiler must inject the constant tree directly where it's used.

If it works for more complex values, I think it'd be nice to add this information to the readme.

[2016-02-04 09:42] jilen opened #141 "Unable to get mysql auto-generated key with paramlized insert"
Example from doc is ok.
[code]
When I try to use paramlized insert

[code]
Followling error occurs
[code]

[2016-02-04 09:51] jilen commented on #141
[code]
Compiler complains `A quotation must not have references to variables outside its scope. Found: 'a' in '(ord) => infix"$a; select last_insert_id()"'.`

[2016-02-05 09:13] 1178615156 opened #143 "generate sql error of option isEmpty , nonEmpty"
[code]

// i think it should is `x11.age IS NOT NULL` ,rather then `x11.agenonEmpty`

[code]

// the some problem
[code]

[2016-02-05 10:34] jilen commented on #143
@1178615156
You can define an infix like this
[code]
as a workaround currently

[2016-02-05 10:46] fwbrasil commented on #143
These operators aren't supported yet. @jilen's suggestions is the current available workaround.
I'll leave this issue open to implement the missing `Option` operators.

[2016-02-05 10:51] fwbrasil commented on #141
@jilen This is a bug, the rebind pattern matching doesn't consider possible type parameters:

https://github.com/getquill/quill/blob/master/quill-core/src/main/scala/io/getquill/quotation/Rebind.scala#L20

In case you'd like to work on it, these are the steps to fix it:

1. Change `Rebind` to allow methods with type parameters. Example: `$conv($orig).$method[..$t]`. The type params can be ignored.

[2016-02-05 10:52] jilen commented on #141
@fwbrasil Ok, I'll have a try sometime later

[2016-02-06 05:29] 1178615156 commented on #143
how to solve of option.get , `table.filter(_.age.get > 10)`
i try to use it
[code]
when i write following
[code]
it is work only in started several , after give  me a compile error
[code]

[2016-02-06 11:32] fwbrasil commented on #143
@1178615156 To use conditions with option values, use the same approach you'd use with scala collections:

[code]

The implicit quotation is probably failing because the `value` method has an explicit return type `Quoted[T]`.

Please use the gitter channel for this kind of questions: http://gitter.im/getquill/quill

[2016-02-07 13:54] jilen commented on #141
@fwbrasil I am not mean the `type param`  in `returningId[T]`, but
[code]
quoted query param

[2016-02-10 05:14] fwbrasil opened #148 "decouple encoding from sources"
The encoding logic is currently coupled with sources, making it harder to understand the source macros.

[2016-02-11 03:26] fwbrasil opened #152 "source code formatter"
@lvicentesanchez, I've noticed that you're using [Scalariform](https://github.com/lvicentesanchez/quill-test/blob/master/build.sbt#L63) in your example project. Wdyt about adding it to Quill?

[2016-02-11 15:10] lvicentesanchez commented on #152
I'm a big fan of scalariform to set a standard way of formatting a project. There are some corner cases where scalariform it's not easy to tame but overall is a positive thing.

They only problem you could face is that you forgot to compile/format before doing a commit/push. But give that you should run the tests before pushing, that shouldn't be a problem.

[2016-02-11 16:10] freddie-freeloader opened #154 "Type Information in AST"
I'm currently assessing whether I can use quill as an _interface_ for [DSH](https://github.com/ulricha/dsh).

To create some useful input for DSH by using quill's AST, I need the types of the queried columns.

For

[code]

quill creates currently this AST:

[code]

It would would be great if
- either `Entity` holds the type of the table
- or `Property` just the type of the column.

I don't know mu

[2016-02-11 16:31] freddie-freeloader opened #155 "Primary Key"
This issue also concerns the [DSH](https://github.com/ulricha/dsh) integration.

DSH needs information about the **Primary Key** of the tables.

This is obviously not a small issue, but I am curious, whether you think that the addition of this feature would generally make sense.

[2016-02-11 16:46] fwbrasil commented on #155
@freddie-freeloader would you mind opening an issue with a high level description of the integration with DSH and some examples of generated queries? It'd make easier to understand the necessary changes.

[2016-02-11 17:36] freddie-freeloader commented on #155
Sure. I am creating some example queries right now.

[2016-02-11 21:10] freddie-freeloader opened #156 "DSH Support"
I'm currently assessing whether I can use quill as an _interface_ for [DSH](https://github.com/ulricha/dsh).

DSH exposes a [Module](https://github.com/ulricha/dsh-sql/blob/master/flatsqlcomp/Main.hs) that
- parses an intermediate language → [CL](https://github.com/ulricha/dsh/blob/master/src/Database/DSH/CL/Parser.hs) (work in progress)
- creates DSH's representation of the query
- returns the re

[2016-02-11 22:21] gustavoamigo commented on #119
@fwbrasil I know that you already said that you are opposed to annotations. But I think the solution bellow would be easier to implement and understand. Basically, we could wrap the objects that we want to tell Quill that they are generated by the database.

Something like this:

[code]
And we might just work with the encoders and decoders to work with this.

[2016-02-13 15:56] #11 closed

[2016-02-13 15:56] #135 closed

[2016-02-13 16:08] fwbrasil opened #158 "fail the ci build if the formatter changes files"
If someone creates a pull requests with unformatted sources, the `build.sh` will fail because the local git repo is dirty.

[2016-02-13 16:10] lvicentesanchez opened #159 "query probing stuck in presence of value classes"
This [simple project](https://github.com/lvicentesanchez/quill-test/blob/experimental/source/src/main/scala/io/github/lvicentesanchez/Main.scala) that uses the new way of creating sources reproduces the problem.

When the classes that represent a cassandra column family contain value classes, the query probien never finishes. The query used to reproduce this behaviour is a simple one:

[code]

Now

[2016-02-13 16:12] lvicentesanchez commented on #159
The source of the problem seems to be a compiler bug when using Context#eval to probe the query.

[2016-02-13 16:15] lvicentesanchez commented on #133
This would have an impact on how the Cluster and Session are created as right now or more likely, it will unify all source types into one, won't it?

[2016-02-13 16:17] lvicentesanchez commented on #93
query probing in this case could be tricky as you would have to start spark in local mode, register the temporal tables,... I need to check if using the JDBC interface would work.

[2016-02-13 17:32] fwbrasil commented on #152
Fixed by https://github.com/getquill/quill/pull/157

[2016-02-13 17:32] #152 closed

[2016-02-13 18:17] fwbrasil commented on #93
@lvicentesanchez Maybe query probing wouldn't make sense for this new module. I don't have any experience with Spark, is there another way we could integrate Quill with it? Maybe produce another type of AST that Spark knows how to handle and optimize?

[2016-02-13 18:29] fwbrasil opened #160 "Make query probing opt-in"
@lvicentesanchez @gustavoamigo @godenji
Query probing is an interesting feature, but it seems to be generating more trouble than benefit. We have been focusing a lot on making it work for the multiple usage scenarios and I've seen many users having problems to get started with Quill because of it. I'd like to propose the following:

- Disable the query probing by default
- Make the feature experim

[2016-02-13 18:32] lvicentesanchez commented on #93
You are right that compile time probing would not make that much sense here
but writing Typesafe queries would be a massive win. Dataframes were the
alternative and they weren't typed but I think they have changed that in
the last release. I will check that when I get hons because if so this
should probably go to the bottom of the backlog.
On 13 Feb 2016 18:17, "Flavio W. Brasil" <notifications@gi

[2016-02-13 18:40] #9 closed

[2016-02-13 18:50] fwbrasil opened #161 "Path to `1.0`"
@godenji @gustavoamigo @lvicentesanchez

I've prepared this list of issues that I think we should work on before `1.0`:

https://github.com/getquill/quill/issues?q=is%3Aissue+is%3Aopen+label%3A1.0

Do you think these changes would be enough to consider the API stable?

[2016-02-13 22:56] gustavoamigo commented on #160
I agree. I have already expressed my opinion that queryProbing is a cool feature, but should be optional and more flexible. For example, I would to like to queryProbe all queries generated in a separate task outside compilation in order, for example, to verify the queries before deploying an application, or to do other analysis like executing 'EXPLAIN' and warning the user that there's an expensiv

[2016-02-14 13:46] lvicentesanchez commented on #160
I agree too, although it's a powerful feature, right now I feel the same way as gustavoamigo.

[2016-02-14 16:01] fwbrasil opened #162 "Comparison between Quill and other alternatives for CQL"
@lvicentesanchez When you have some spare time, could you create a `CASSANDRA.md` file comparing Quill and the other main alternatives for interaction with Cassandra in Scala?

[2016-02-14 23:15] lvicentesanchez commented on #162
Sure. I will write a draft tomorrow.
On 14 Feb 2016 16:01, "Flavio W. Brasil" <notifications@github.com> wrote:

[2016-02-15 09:13] jilen commented on #14
It is not easy to use `infix` to get this done with `mysql-async`. I tried to do, but fail because of following reason

- Mysql dosen't have  `RETURING ID` as `postgres`.
- `Mysql-Async` dosen't seem to support multi statement so `insert into ...; select last_insert_id();`  not work

[2016-02-15 16:31] lvicentesanchez commented on #21
`DBIO` is an abstraction that sits between the `Query`s and the "DB runner".  I get that they buy you extra composability by allowing you to sequence queries and also define transactional blocks.

How this would be translated to Quill? `Source`s run quoted `Query`s to produce a `QueryResult` (the query result is defined by the type of Source, e.g `Id[List[A]]`, `Future[List[A]]` or a `Stream[A]`).

[2016-02-16 01:58] #141 closed

[2016-02-16 14:35] lvicentesanchez opened #166 "publish v0.3.1 documentation to the website"
The documentation in the website is outdated and contains some typos that have been fixed in v0.3.1. We should publish that version to the website.

[2016-02-16 15:20] jilen commented on #14
For `mysql-async` the `MySQLQueryResult` already contains `[lastInertedId](https://github.com/mauricio/postgresql-async/blob/master/mysql-async/src/main/scala/com/github/mauricio/async/db/mysql/MySQLQueryResult.scala#L24)`

[2016-02-16 15:42] fwbrasil commented on #166
Fixed by https://github.com/getquill/quill/commit/e827209704aa8d2692a2ccfab1d75776b939b4e0. It should take a few minutes to refresh the content.

[2016-02-16 15:42] #166 closed

[2016-02-16 16:26] lvicentesanchez opened #167 "quill-cassandra: upgrade Datastax Java Driver to version 3.0.0"
Version 2.1.x of the driver doesn't work with Cassandra 3.x. I have done a quick tests on my local copy of quill, and upgrading the driver to version 3.0.0 didn't break my test project that is pointing to a 2.1.9 Cassandra (full [compatibility list](http://datastax.github.io/java-driver/manual/native_protocol/).

The driver is not binary compatible with previous release, but as we are not still gu

[2016-02-16 16:39] fwbrasil commented on #167
Sounds good to me

[2016-02-17 07:16] fwbrasil opened #170 "Review `BindedStatementBuilder` approach"
It was introduced by https://github.com/getquill/quill/pull/165 and increases the complexity of the source implementations considerably.

[2016-02-17 18:04] #167 closed

[2016-02-18 01:36] fwbrasil commented on #21
@lvicentesanchez This is more or less what I have in mind:

[code]

`IO` would be like a source adapter.

[2016-02-18 02:00] jilen opened #172 "Aggeration operation returns a `List` ?"
Queries like
[code]
will return a `List[Long]`, thourgh we could use `head` of this list, but it looks something strange.

It will be better to return `Long`

[2016-02-18 06:50] jilen opened #173 "Cannot run `query[XXX].isEmpty`"
[code]
We expect it generate sql like

But won't compile, because `q` is `UnaryOperation` cannot be applied as a `SqlQuery`

One simple fix is add another query type like `SetOperationSqlQuery`

[2016-02-18 10:10] gustavoamigo opened #174 "DSL for returning generated values"
I would like some help regarding some internal details of Quill. I was doing some research and some coding to try to solve the problem of generated keys.
Basically, the signature of the method `JdbcSource.execute` is as follows:
[code]

And Jdbc has an API to extract the generated keys after inserting, it works with batch inserts and with single inserts, more details [here](http://stackoverflow.co

[2016-02-18 10:26] jilen commented on #174
Seems a duplicate of #14 .

But `postgres-async` seems not have this value.

[2016-02-18 11:34] gustavoamigo commented on #174
@jilen there are some issues related to this one. Actually, I don't know how I would label this one, I think it is just an R&D, question or help. I created it here so the discussion is open.

[2016-02-18 15:08] jilen commented on #174
@gustavoamigo It is ok for `jdbc` and `mysql-async` and `finagle-mysql`, but unfortunately I haven't find `postgres-async` has something like `generated keys`. So we should consider how to deal with it.

[2016-02-18 15:32] jilen commented on #173
@fwbrasil  There are two ways I can came up
- Add a new ast `UnaryOperationQuery` then convert UnaryOperation(op, q: Query)
[code]

- Make `SqlQuery.apply` accept `UnaryOperation`
[code]

Which do you think is more reasonable, or is there any other better way to fix this.

[2016-02-18 15:37] fwbrasil commented on #173
@jilen Thanks for digging into this. The second alternative is preferred, `SqlQuery` should support this kind of query.

[2016-02-18 18:34] gustavoamigo commented on #174
@jilen @fwbrasil I'll do a test with `generated values` in order to see how well this is supported.

[2016-02-18 20:44] gustavoamigo commented on #174
Some tests with JDBC drivers.
https://github.com/gustavoamigo/DatabaseDriverSupport

[2016-02-18 21:41] lvicentesanchez opened #175 "quill-cassandra: review streaming source"
After reading this info about the java driver [asynchronous capabilities](https://github.com/datastax/java-driver/tree/3.0.0/manual/async), a review of the CassandraStreamSource is advised as we might be triggering synchronous queries while traversing the resulset iterator.

[2016-02-18 21:47] lvicentesanchez commented on #21
Yes, that's more or less what I had in mind, I will probably called it a source transformer. Would the return type of the for-comprehension be a `List[Book]`/`Future[List[Book]]` or a wrapper type similar to scalaz `IO`/`Task` that only evaluates the result when `run`?

[2016-02-19 01:05] fwbrasil commented on #175
I think we should tag this as a bug. I wouldn't expect the stream driver to be performing blocking operations.

[2016-02-19 01:23] fwbrasil commented on #21
Yes, `IO` will be a free monad:

[code]

[2016-02-19 09:33] 1178615156 opened #177 "compile error `type mismatch`,when function parameter more 10"
[code]

[2016-02-19 12:40] Ciantic opened #178 "Feature: Return Scala Records if querying partial results"
I briefly discussed this in Hacker News when Quill was announced, and looks like this project is not dead yet (not a joke, there is a lot of dead projects out there), and I would like to see this feature in at least one SQL library in Scala.

Would it be feasible to make queries which return only few of the fields return https://github.com/scala-records/scala-records Scala Records?

It would make

[2016-02-19 12:44] lvicentesanchez commented on #175
Yes, you are right. I'm going to work on this today after work.

[2016-02-19 14:09] fwbrasil commented on #177
@1178615156 Do you really need more than 10 parameters?

[2016-02-19 14:14] fwbrasil commented on #178
It'd be interesting to have records support, but I'd like to avoid adding a dependency to scald-records given that it has a transitive dependency to macro-paradise.

cc/ @gustavoamigo @lvicentesanchez

[2016-02-19 14:15] #160 closed

[2016-02-19 22:31] gustavoamigo commented on #174
Added more tests with generated ids with the async drivers here:
https://github.com/gustavoamigo/DatabaseDriverSupport

[2016-02-20 02:35] #173 closed

[2016-02-20 06:14] fwbrasil commented on #156
@freddie-freeloader Thanks for the examples, it makes more sense to me now. These changes are relatively simple to implement, I'll comment on the issues.

[2016-02-20 06:16] fwbrasil commented on #155
I think this doesn't require a `quill-core` change, the DSH mode could provide a marker trait and determine the primary key using reflection on the types provided by https://github.com/getquill/quill/issues/154. Wdyt?

[2016-02-20 06:19] fwbrasil commented on #154
@freddie-freeloader Would a string with the full name of the entity type be enough or is it better a `Type`?

[2016-02-20 06:20] fwbrasil commented on #155
Example of what I have in mind:

[code]

[2016-02-20 06:24] fwbrasil opened #182 "Activator templates"
Some users are having problems to get started with Quill, having one activate template for each submodule could make things easier.

https://www.typesafe.com/activator/download

[2016-02-20 10:34] 1178615156 commented on #177
no must need , i can use dynamic queries implement i demand

[2016-02-20 16:53] fwbrasil commented on #177
I'm going to close this for now, please reopen if it is really necessary. I'm avoiding to add more parameters because it increases the compilation time considerably.

[2016-02-20 16:53] #177 closed

[2016-02-21 04:37] jilen opened #184 "mixin `QueryProbing` cause compile error"
[code]

[code]

[code]
[code]

[2016-02-21 15:34] freddie-freeloader commented on #155
That's a great idea. :smile:

[2016-02-21 15:34] #155 closed

[2016-02-21 15:41] freddie-freeloader commented on #154
With `Type` I could easily deduce the names and types of the arguments/columns.
Therefore I'd prefer `Type` to `String`.

[2016-02-21 17:58] #175 closed

[2016-02-21 19:02] lvicentesanchez commented on #184
The error in Example1 might be related with the absence of the config file in the classpath during compile time. Have you tried to add it during compile time like [this](https://github.com/getquill/quill#query-probing)?

[2016-02-21 19:03] lvicentesanchez commented on #182
Good idea. I will work on a template for quill-cassandra

[2016-02-22 00:11] lvicentesanchez commented on #162
Closed by #164

[2016-02-22 00:11] #162 closed

[2016-02-22 01:45] jilen commented on #21
@fwbrasil Can we have something `res.runTransaction` to simplify transaction support

[2016-02-22 03:14] fwbrasil commented on #21
@jilen Yes, `run` will include transaction support

[2016-02-22 09:51] jilen opened #187 "enable `non-batch` action mode"
Currently quill requires run actions in `batch` mode.

But it is very common to run a `single` action.

This could simply be achived by something like this.

[code]

But shall we make this feature out of box ?

[2016-02-22 14:52] fwbrasil commented on #187
Yes, I think we should add the non-batched action variant.

[2016-02-22 15:15] fwbrasil commented on #72
already fixed

[2016-02-22 15:15] #72 closed

[2016-02-22 16:59] lvicentesanchez opened #188 "quill-sql: H2 dialect"
Add H2 dialect.

[2016-02-22 18:10] gustavoamigo opened #190 "Add distinct support for CQL"
After https://github.com/getquill/quill/pull/186 is merged, add support for `distinct` operation in Cassandra module.

[2016-02-23 03:17] gustavoamigo opened #191 "Add unit testing covering Unliftables"
Anything wrong with Unliftable will produce dynamic queries and there isn't a test that prevents that.

[2016-02-23 05:35] #87 closed

[2016-02-23 15:47] fwbrasil opened #193 "organize root folder"
It has too many directories and files.

Suggestion:

build-related files under `/scripts`
docker files under `/scripts/docker`
docs under `/quill-docs`

[2016-02-23 20:04] gustavoamigo opened #194 "Unstable build"
We need investigate why the build is unstable. Please, add some logs here.

[2016-02-23 21:43] lvicentesanchez commented on #193
:+1: LGTM

[2016-02-23 21:45] gustavoamigo commented on #193
:+1: I suggest you create a branch for this, so we can work together.

[2016-02-24 02:11] jilen commented on #193
:+1:

[2016-02-24 03:28] fwbrasil commented on #193
I'm currently working on the io monad and don't have plans to work on this soon, feel free to work on it if you'd like.

[2016-02-24 12:55] gustavoamigo commented on #194
Build failed
[code]

[2016-02-24 15:12] lvicentesanchez opened #198 "introduce MiMa plugin"
We should add the MiMa plugin to ensure binary compatibility of minor versions and patches. WYT? Should be part of the 1.0 roadmap?

[2016-02-24 15:17] fwbrasil commented on #198
sounds good!

[2016-02-24 15:39] fwbrasil opened #200 "type-safe equals"
The `Parsing` macro could check if the terms being compared have compatible types.

[2016-02-25 01:37] jilen commented on #198
I do agree. We should ensure binary compatibility of minor version.

[2016-02-25 04:54] fwbrasil commented on #194
Another error:

[code]

[2016-02-25 05:01] fwbrasil commented on #194
@gustavoamigo does `docker-compose run setup` guarantee that the databases are running and the schema is already created?

[2016-02-25 05:05] jilen commented on #194
@fwbrasil That is caused by insert data into cassandra without primary key. I will fix the test case

[2016-02-25 05:07] fwbrasil commented on #194
@jilen I was certain it was just some flakiness, thanks for let me know!

[2016-02-25 07:20] jilen opened #203 "CassandraSyncSource.execute always return `Nil`"
Will be fixed in #202

[2016-02-25 07:24] fwbrasil commented on #127
As discussed on Gitter, please add some examples of Quill queries and the correspondent CouchDB queries. It'll make it easier to prepare a detailed design of the new module.

[2016-02-25 07:30] fwbrasil opened #204 "Integrate Monix into all submodules"
Currently, only the Cassandra module has integration with [Monix](http://monix.io). I'm not sure that all drivers have APIs to implement proper streaming though.

[2016-02-25 11:46] gustavoamigo commented on #194
@fwbrasil That's one of the fixes I need to add. Right now there's just a a 'sleep 30' at the beginning of the script.

[2016-02-25 12:17] gustavoamigo commented on #194
I need to add somthing link [this](https://github.com/DreamItGetIT/wait-for-mysql/blob/master/wait.sh) in order to wait databases.

[2016-02-25 13:21] #187 closed

[2016-02-25 13:22] fwbrasil commented on #203
Fixed by #202

[2016-02-25 13:22] #203 closed

[2016-02-25 13:43] halvorgb opened #205 "Possibility of disabling prepared statements."
We're looking into starting using quill at our company, but we cannot seem to find a way to disable prepared statements.

We're using pgbouncer with transaction pooling, which does not work with prepared statements at all. (https://pgbouncer.github.io/faq.html#how-to-use-prepared-statements-with-transaction-pooling)

How hard is it to disable prepared statements?

On a cursory glance it would invo

[2016-02-25 14:40] deterdw opened #206 "Custom aggregation functions"
Currently trying to use a custom aggregation function (like `group_concat` on MySQL) runs into an "Invalid group by aggregation" error.

Example (using `Person` class from the docs):
[code]
[code]

[2016-02-25 16:23] fwbrasil commented on #205
Isn't it possible to disable it at the jdbc driver level? From your link:

It should a question of adding `db.dataSource.prepareThreshold=0` to your db config.

[2016-02-25 17:08] #206 closed

[2016-02-25 17:42] fwbrasil commented on #206
@deterdw Could you test it using `0.4.1-SNAPSHOT`? Make sure to have the Sonatype snapshots resolver configured.

[2016-02-25 17:43] fwbrasil commented on #205
I'm closing the issue for now, please feel free to reopen it.

[2016-02-26 00:29] halvorgb commented on #205
I forgot to mention that we are using the postgresql-async driver through quill-async. It is not possible as far as I can see to configure postgresql-async to not accept prepared statements. See https://github.com/mauricio/postgresql-async/blob/7e3937e2e75656f35763542710264e54c7ba403b/db-async-common/src/main/scala/com/github/mauricio/async/db/Configuration.scala

I also ponder what disabling prep

[2016-02-26 03:30] fwbrasil commented on #205
Sounds reasonable, @jilen would you be interested in working on this change?

[2016-02-26 03:32] fwbrasil opened #209 "Query probing fails even if not enabled"
Reported by @onilton

[code]

[2016-02-26 04:08] #209 closed

[2016-02-26 04:26] jilen commented on #205
@fwbrasil I am not quite familiar with `pgbouncer` and `postgres`. And not sure if `SQL` like
[code]
would address @halvorgb issue.

If we confirm that works, I will be happy to working on it.

[2016-02-26 04:34] fwbrasil commented on #205
@jilen I though it was just a question of using `sendQuery` instead of `sendPreparedStatement` [here](https://github.com/getquill/quill/blob/master/quill-async/src/main/scala/io/getquill/sources/async/AsyncSource.scala), but it's not possible to specify parameters with `sendQuery`. Actually, I think this feature would require a `postgresql-async` change.

@halvorgb Do you see another alternative?

[2016-02-26 04:39] jilen commented on #205
@fwbrasil Yes, that should best be an feature of the driver

[2016-02-26 04:39] fwbrasil commented on #209
@onilton Could you check if `0.4.1-SNAPSHOT` fixes the issue?

[2016-02-26 09:48] lvicentesanchez commented on #204
Slick 3.0 doesn't use asynchronous drivers for the streaming part, but they have a dedicated execution context that they handle. We could do the same for non-streaming-friendly modules like the jdbc one, use a dedicated Scheduler properly configured.

[2016-02-26 09:50] lvicentesanchez opened #211 "doc: sbt-tut"
Should we use sbt-tut? I would love to have the examples in our documentation validated as part of the build process.

[2016-02-26 12:29] godenji commented on #211
@lvicentesanchez we already are ;-) just run `tut`

[2016-02-26 12:35] lvicentesanchez commented on #211
lol... I missed that. closing the ticket :D

2016-02-26 12:29 GMT+00:00 godenji <notifications@github.com>:

[2016-02-26 12:35] #211 closed

[2016-02-26 20:32] onilton commented on #209
@fwbrasil Yes! It fixes :D

[2016-02-26 23:20] #190 closed

[2016-02-27 10:50] halvorgb commented on #205
Hm, is the issue that you do not want to sanitize the parameters in quill? For sql injections etc.?

Stepping through with the debugger i see that you have a ```sql INSERT INTO table VALUES (?)``` statement ready, but you'd rather postgresql-async do the work when it comes to replacing the `?` with an actual parameter? I can understand that.

[2016-02-27 11:24] halvorgb opened #215 "The naming strategy Escape does not work for postgresql."
Without Escape:
[code]
With Escape:
[code]

The problem is that `$1` is escaped, but on postgres-9.5.1-1 thaẗ́'s invalid.

I looked through the source to fix the bug, but I can't seem to find something that links the `io.getquill.sources.sql.idiom.SqlIdom` trait to the `io.getquill.naming.NamingStrategy` trait.

[2016-02-27 11:45] lvicentesanchez opened #216 "quill-cassandra: improve error messages"
This issue partially address #42 for `quill-cassandra`.

[2016-02-27 14:09] godenji commented on #215
Need to implement an escape strategy for Postgres.

Try something like the following in [NamingStrategy](https://github.com/getquill/quill/blob/master/quill-core/src/main/scala/io/getquill/naming/NamingStrategy.scala#L83) source:

[code]

Give it a shot and issue PR (along with corresponding test in `NamingStrategySpec`, see mysql example)

[2016-02-27 16:32] fwbrasil commented on #205
@halvorgb We definitely don't want to implement database-level encoding in Quill. It's not as simple as it seems. :)

I'm closing this issue for now, you could either use Quill's jdbc module or open a `postgresql-async` issue to implement this feature.

[2016-02-27 16:32] #205 closed

[2016-02-27 16:33] #216 closed

[2016-02-27 17:03] #215 closed

[2016-02-27 17:19] fwbrasil commented on #215
@halvorgb The `0.4.1-SNAPSHOT` version has a new naming strategy specific for postgres escaping[0]. Please let us know if you have problems using it.

[0] https://github.com/getquill/quill/blob/master/quill-core/src/main/scala/io/getquill/naming/NamingStrategy.scala#L83

[2016-02-28 04:46] #188 closed

[2016-02-28 12:58] lvicentesanchez opened #220 "* quill-cassandra: error when using allowFilltering"
Using `allowFiltering` in your queries gives you a compile time error as the type of the query is inferred as `AnyRef with QuotedEntity[CF]`.

[2016-02-28 13:08] lvicentesanchez commented on #220
The problem seems to only happen with parametrised quotations.

[2016-02-28 13:34] godenji commented on #220
@lvicentesanchez you can refine the type if you make it explicit: `def allowFiltering: Quoted[Q]`, but that doesn't solve underlying issue, missing encoding.

I think `QueryOps[Q <: Query[_]]` throws away type information needed for implicit encoding to be picked up

[2016-02-28 13:44] lvicentesanchez commented on #220
Yes, I'm afraid that's the problem. And it's also a problem for all other `Cassandra` infix operators.

[2016-02-28 14:17] lvicentesanchez commented on #220
A non-parametrised quotation works just fine:

[code]

[2016-02-28 14:34] godenji commented on #220
Right, case class required by implicit encoder lookup, but bound param creates inferred type like:

[code]
Do *any* of the cassandra implicit infix based operations work? For example `EntityOps` using* methods?

[2016-02-28 14:44] lvicentesanchez commented on #220
So far none of them and all suffer from the same problem when used in a parametrised quotation. But it makes sense given that they all are implemented in a similar way.

It seems that we would need to create those operations as part of the AST and restrict them to only be available for Cassandra, e.g. creating a CassandraQuery class; but that would mean _polluting_ `quill-core` with implementation

[2016-02-28 15:05] godenji commented on #220
Well, I'd like to pollute `quill-core` with `having` for `groupBy` but I think there's some resistance to adding non-core things to core :smile:

Probably a lot of work involved but I wonder about `CassandraQuery`, `SqlQuery`, etc. implementations that would provide additional functionality specific to themselves and delegate to core for common defaults

[2016-02-28 15:13] lvicentesanchez commented on #220
I'm up for anything that allow us to expand core functionality to specific sources without having to pollute `quill-core`

[2016-02-28 15:48] fwbrasil commented on #220
It's possible to make these quotations infer the encoding correctly. Let me fix it for now and continue the discussion about extending the DSL in another issue. Wdyt?

[2016-02-28 15:50] lvicentesanchez commented on #220
If it can be fixed now, that's great. I agree that discussion on to extend
the DSL should be in another issue. mainly because other future sources
might need that too.
On 28 Feb 2016 15:48, "Flavio W. Brasil" <notifications@github.com> wrote:

[2016-02-28 15:54] lvicentesanchez opened #221 "extensibility of the DSL without polluting quill-core"
Lets discuss about the best way to extend the DSL to support source specific operations.

[2016-02-28 16:27] fwbrasil commented on #221
Related issue: https://github.com/getquill/quill/issues/76. Maybe we should leave only one open?

[2016-02-28 16:28] lvicentesanchez commented on #221
yes, that makes sense.
On 28 Feb 2016 16:27, "Flavio W. Brasil" <notifications@github.com> wrote:

[2016-02-28 16:40] #221 closed

[2016-02-28 23:20] fwbrasil commented on #194
fixed by https://github.com/getquill/quill/pull/213

[2016-02-28 23:20] #194 closed

[2016-02-29 00:21] #220 closed

[2016-02-29 02:25] jilen opened #223 "Support literal value in `infix` Interpolation"
Similar to [slick  interpolation
](http://slick.typesafe.com/doc/3.1.1/sql.html#string-interpolation)
For example.

[code]

`#$tableId` will be part of sql, but not as a query param.

Notice that this may cause a `query` dynaimc, we should consider whether support this feature or not.

[2016-02-29 03:47] gustavoamigo opened #224 "Intellij Plugin to add Quill support"
Things this plugin could do:

* Code highlight with the SQL generated
* Query probing
* Explain plan

We might use [this](https://blog.jetbrains.com/scala/2015/10/14/intellij-api-to-build-scala-macros-support/)

[2016-02-29 05:06] #158 closed

[2016-02-29 05:17] fwbrasil opened #228 "Release process: automatically update gh-pages"
Current flow:

1. Create a pull request to trigger the build. Example: https://github.com/getquill/quill/pull/227
2. Merge the pull request, automatically releasing the new version
3. Manually update the gp-pages branch based on the new readme
4. Update the readme to refer to the new snapshot version

New flow:

1. Create a pull request to trigger the build.
2. Merge the pull request. It'll automa

[2016-02-29 07:49] jilen opened #229 "wrong variable bind order of drop with take"
[code]
binded ast
[code]
binded sql
[code]
parameter order of limit, offset are swapped.

[2016-02-29 22:09] fwbrasil opened #231 "cross compile to Scala 2.12"
Dependencies that have no `scala 2.12` version
- [x] scoverage and its dependencies (see https://github.com/scoverage/scalac-scoverage-plugin/pull/191)
- [x] monix (see https://github.com/monix/monix/pull/276)
- [x] scala-logging (see https://github.com/typesafehub/scala-logging/pull/60)

[2016-03-01 00:26] godenji commented on #229
@jilen nice find, tricky bug, only affects *paramterized* queries with drop followed by take. Does not affect take followed by drop or individual take/drop.

The reason is [`SqlIdiom`](https://github.com/getquill/quill/blob/master/quill-sql/src/main/scala/io/getquill/sources/sql/idiom/SqlIdiom.scala#L78) has no way of communicating the bind variable ordering.

Given current approach it might be be

[2016-03-01 05:12] fwbrasil commented on #31
fixed by https://github.com/getquill/quill/pull/199

[2016-03-01 05:12] #31 closed

[2016-03-01 06:16] fwbrasil commented on #84
There isn't much that can be done, I'm closing this issue for now.

[2016-03-01 06:16] #84 closed

[2016-03-01 06:20] fwbrasil opened #233 "new logo"
The current logo is just a creative commons image. We should have something better than that. :)

[2016-03-01 06:41] fwbrasil opened #235 "document quill internals"
It'll make it easier to contribute to Quill.

[2016-03-01 16:03] #193 closed

[2016-03-01 23:11] lvicentesanchez commented on #20
I will give it a try. I'm fairly familiar with scalacheck :)

[2016-03-01 23:28] fwbrasil commented on #20
awesome! :)

[2016-03-02 12:27] lvicentesanchez opened #240 "parser: error with unicode characteres"
With an update like this:

[code]

**Version**: (0.4.1-SNAPSHOT`
**Module**: parser

### Expected behavior

Quill should execute the update.

### Actual behavior

Quill produces this error:

[code]
The problem is the Unicode arrow and once you replace it with `->` it works.

@getquill/maintainers

[2016-03-02 12:28] cjuexuan opened #241 "unicode arrow cause build error"
unicode arrow will make error:
my code is :
[code]
it can't work ,but with :
[code]
it run
@getquill/maintainers

[2016-03-02 12:29] lvicentesanchez commented on #240
Duplicates #241

[2016-03-02 12:29] #240 closed

[2016-03-02 12:30] lvicentesanchez commented on #241
Thanks for reporting the issue.

[2016-03-02 16:33] gustavoamigo commented on #235
Here are the things that I had a hard time so for:
* Understanding what is done during compilation time and during runtime (or both)
* How to debug queries
* How to debug macros
* Understanding the quotation parsing
* Understanding how transformations are done using `StatefulTransformer` and `StatelesTransformer`
* Understanding the AST produced before and after normalization
* Understanding what

[2016-03-03 03:16] #124 closed

[2016-03-03 03:42] jilen opened #244 "SqlMirrorSource doesn't support set encoding"
Queries like this
[code]
cannot be run by `SqlMirrorSource`

@getquill/maintainers

[2016-03-03 17:22] kbielefe opened #245 "Create DSL for schema and database/keyspace creation"
Would like the ability to create a keyspace and schema directly from Quill.

Keyspace creation possibly to be accomplished by adding some new config properties:

[code]

Schema creation possibly looking something like:

[code]

@getquill/maintainers

[2016-03-04 22:28] godenji commented on #117
closed via #149

[2016-03-04 22:28] #117 closed

[2016-03-04 22:32] godenji commented on #113
@fwbrasil @lvicentesanchez  should this issue be closed?

[2016-03-04 23:16] godenji commented on #56
@rfranco looks like your last example will be addressed in #226 (the insert aspect at least)

[2016-03-05 00:00] fwbrasil commented on #113
+1 for closing. The original gist is not available anymore.

[2016-03-05 00:00] #113 closed

[2016-03-05 00:01] lvicentesanchez commented on #113
+1 I think this ticket was open as a reminder to add documentation about
this feature.
On 5 Mar 2016 00:00, "Flavio W. Brasil" <notifications@github.com> wrote:

[2016-03-05 00:17] godenji commented on #77
Example use case for `val` support in `quote` blocks

[code]
The same applies to for comprehension based quotations where it would be useful to define `val`s *inline*. Contrived example:

[code]

[2016-03-05 00:27] jilen opened #248 "Create ast for `Option` existence check"
Currently it is only translate in `SqlIdiom` in #238.

We shall add new type of ast when other `Source` need it.

@getquill/maintainers

[2016-03-05 00:27] jilen commented on #143
Fixed in #238

[2016-03-05 00:27] #143 closed

[2016-03-05 00:31] gustavoamigo opened #249 "Actions are not using property aliases"
**Version**: `0.4.1-SNAPSHOT`
**Module**: `quill-sql`

### Expected behavior
[code]
Should produce `INSERT INTO test_entity (field_s, field_i, l) VALUES(?, ?, ?)`, but produces `INSERT INTO test_entity (s, i, l) VALUES(?, ?, ?)`
### Steps to reproduce the behavior
Just run the following tests:
[code]

@getquill/maintainers

[2016-03-05 00:40] godenji commented on #77
@fwbrasil when you created this issue how were you thinking about implementing a solution?

Hacking around in `Parsing.scala` it seems like we would need a fallback of some sort that would handle an unmatched *code block*. Something like:

[code]
Not sure how `val`s would be encoded in the AST. I guess we're mostly interested in calculated fields like `q.map(_.someColumn).max` but users may also d

[2016-03-05 00:44] fwbrasil commented on #77
@godenji My plan was to create two new AST types:

- `Block(statements: List[Ast])`
- `Val(name: String, body: Ast)`

And then change `BetaReduction` to inline vals. Multi-assignments should be treated as pattern matching.

[2016-03-05 13:11] lvicentesanchez commented on #198
I have checked how the plugin works and we need to set the previous version that the plugin needs to use to compare the binary compatibility. I think that could be automated as part of the release process. I'm going to give a try :)

[2016-03-07 13:16] Fristi commented on #7
Would you be able to support these kind of queries as well? Nested partial updates doesn't seem to be supported yet by quill.

[code]

This does not compile with `quill-core`.

[2016-03-07 16:43] gustavoamigo commented on #174
Fixed by #226

[2016-03-07 16:43] #174 closed

[2016-03-07 16:44] gustavoamigo commented on #14
Fixed by #226

[2016-03-07 16:44] #14 closed

[2016-03-07 16:58] gustavoamigo commented on #119
Fixed by #226

[2016-03-07 16:58] #119 closed

[2016-03-07 22:40] kbielefe opened #252 "Source doesn't know how to decode when assigned to var"
0.4.1
quill-cassandra

### Expected behavior
Expected compilation without errors.

### Actual behavior
Received error message:  Source doesn't know how to decode 'd.host: String'

### Steps to reproduce the behavior
compile the following example:
[code]

@getquill/maintainers

[2016-03-08 03:26] #249 closed

[2016-03-08 03:29] gustavoamigo opened #253 "CQL should rename assignments"
CQL should rename assignments in Actions. See #250

**Version**:  `0.4.1-SNAPSHOT`
**Module**:  `quill-cassandra`

### Expected behavior
Property aliases should be reflected with assignments and Actions

### Actual behavior
see #249

### Steps to reproduce the behavior
see 249

@getquill/maintainers

[2016-03-08 03:30] gustavoamigo commented on #253
@lvicentesanchez would you apply the same solution with `quill-cassandra`?

[2016-03-08 10:25] lvicentesanchez commented on #253
@gustavoamigo I have check your solution and I like it, it's similar to what I had in mind but making it part of Prepare is much cleaner. I'm going to port it to CQL and make a PR

[2016-03-08 16:00] lvicentesanchez opened #255 "* quill-cassandra: fail query with a meaningful error if generated is used as part of an entity definition"
Cassandra doesn't support generated values. If `generated` is used as part of an entity definition, we should fail at compile time with a meaningful error.

@getquill/maintainers

[2016-03-08 18:43] #253 closed

[2016-03-08 22:38] gustavoamigo commented on #255
@lvicentesanchez There's a code for this, is it not working?

https://github.com/getquill/quill/blob/master/quill-cassandra/src/main/scala/io/getquill/sources/cassandra/CqlIdiom.scala#L150

https://github.com/getquill/quill/blob/5a0e74315fd639201643053f162dcd26dfa854f1/quill-cassandra/src/test/scala/io/getquill/sources/cassandra/CqlIdiomSpec.scala#L41

[2016-03-08 22:51] lvicentesanchez commented on #255
@gustavoamigo I missed that when I was reviewing the idiom. Cool that is already implemented :D

[2016-03-08 22:51] #255 closed

[2016-03-09 06:02] fwbrasil commented on #182
I've just added this ticket to the `1.0` roadmap. It's very commons to see users having problem to setup the configuration file.

[2016-03-09 06:05] fwbrasil commented on #245
I think schema creation would be an interesting feature. Could you give more details on why a DSL as opposed to raw CQL strings? A DSL doesn't seem to provide much benefit as DDL statements aren't composable.

[2016-03-09 06:09] fwbrasil commented on #66
fixed by #238

[2016-03-09 06:09] #66 closed

[2016-03-09 08:35] jilen commented on #182
A `playframework` template will be useful

[2016-03-09 21:46] #241 closed

[2016-03-10 02:19] #244 closed

[2016-03-10 04:53] ethor226 opened #261 "support for additional collection types"
Version: 0.4.1
Module: quill-jdbc

I am trying to do an "IN" query but it tells me it doesn't know how to encode.

the following fails to compile:
val q0 = quote{
(placementIds:List[Int]) => query[dbData].filter(x=>placementIds.contains(x.id))
}
val list0:List[Int] = List(1,2,3,4,5,6)
db.run(q0)(List(list0))

It appears that there is only support for the Set collection type, but this isn't current

[2016-03-10 11:23] lvicentesanchez commented on #182
A `akka-http` template would also be nice.

[2016-03-10 12:23] gustavoamigo commented on #182
I can help with the `playframework` template.

[2016-03-10 15:42] ethor226 opened #264 "passing in tuples with objects is not supported"
**Version**: 0.4.1
**Module**: quill-jdbc

i noticed that the following also complains about not knowing how to encode,

[code]

[2016-03-10 19:49] mgibson opened #265 "Code generator to generate classes from db schema"
This template isn't a strict requirement to open issues, but please try to provide as much information as possible.

**Version**: (e.g. `0.4.1-SNAPSHOT`)
**Module**: (e.g. `quill-jdbc`)
### Expected behavior

This would probably be a piece of code you would run separately
that would query the database and make the appropriate case classes of all the tables.
Save one the trouble of doing that all b

[2016-03-11 21:29] nrlyles opened #266 "`ifCond` causes compile errors when passing variables to query"
**Version**: 0.4.2-SNAPSHOT
**Module**: quill-cassandra

### Expected behavior
[code]
This code should compile.

### Actual behavior
Throws the following error: `Source doesn't know how to decode 'x: io.getquill.quotation.Quoted[io.getquill.Action[main.Host]]{def quoted: io.getquill.ast.Infix; def ast: io.getquill.ast.Infix}'`

### Steps to reproduce the behavior
Compile the above code.

### Worka

[2016-03-12 11:42] lvicentesanchez commented on #266
The issue is not the double quotation but the multiple param list. I can reproduce it with `allowFiltering` when my quotation has more that one parameter.

The fix for the previous issue was only defined for arity 1:

[2016-03-12 19:48] fwbrasil commented on #266
@lvicentesanchez yep, you're right. I thought it was something specific to actions. Let's work on it after #262, it'll touch the same code.

[2016-03-13 15:31] ikhoon opened #267 "Incremental compilation failed - SBT(compile:compileIncremental)"
**Version**: (`0.4.1`)
**Module**: (`quill-finagle-mysql`)

**Other Dependencies**
* [Finatra](https://github.com/twitter/finatra) - 2.1.4
* [Guice](https://github.com/google/guice) - 4.0

### Source Code

* Define `quill db` module using guice.

[code]

* Inject database instance into ItemRepository.

[code]

### Expected behavior
Expected, `sbt run` compile source codes without throw errors. Cle

[2016-03-13 16:15] fwbrasil opened #269 "Use openjdk"
The build should run on openjdk, not oraclejdk, because of possible licensing issues.

@getquill/maintainers

[2016-03-14 02:08] jilen opened #272 "`sortby` followed by `take` and `drop` generate strange sql"
**Version**: `0.4.2-SNAPSHOT`
**Module**: `quill-sql`
### Expected behavior
[code]
This query should generate
[code]
### Actual behavior
[code]
### Steps to reproduce the behavior
Just run such kind of query
@getquill/maintainers

[2016-03-14 06:16] binkabir commented on #267
Hi Fwbrasil, I get this same error when working with playframework and quill-mysql, for every edit I make to the query I will  have to stop the sbt and recompile it.

[2016-03-14 06:19] #267 closed

[2016-03-14 06:35] fwbrasil commented on #267
@binkabir @ikhoon Could you please check if the version `0.4.2-SNAPSHOT` fixes this issue? Just make sure to add the maven central snapshots repo to your sbt config:

[code]

[2016-03-14 07:08] binkabir commented on #267
@fwbrasil, like magic it worked,
but you have a typo error in your resolver, it suppose to be
`resolvers += Resolver.sonatypeRepo("snapshots")`

Thanks.

[2016-03-14 12:28] jilen commented on #269
:+1:  There is no reason that we must stick with `oraclejdk`

[2016-03-14 12:48] godenji commented on #269
:+1:

[2016-03-14 13:29] ikhoon commented on #267
@fwbrasil :sob: :sob: :sob:
It works perfectly, You saved my time!
Now I can run `sbt task` & `unit test` in Intellij IDEA.

Thanks for your **fast feedback & hotfix**. :neckbeard:

[2016-03-14 15:25] fwbrasil commented on #272
@jilen The generated query is actually correct. Note that the ordering of `take` and `limit` changes the semantic:

[code]
The query nesting is required to reproduce the same semantic and the `18446744073709551610` limit is used as a placeholder as mysql doesn't support offset without limit.

I'm closing the issue, please don't hesitate to reopen it if necessary.

[2016-03-14 15:25] #272 closed

[2016-03-14 15:41] jilen commented on #272
@fwbrasil Have you check #229, I was just confused.

[2016-03-14 15:42] fwbrasil commented on #272
@jilen I see, I'll try to work on it this week.

[2016-03-14 17:16] #269 closed

[2016-03-15 07:09] jilen opened #275 "Funny `dynamic` query bug"
**Version**:  `0.4.2-SNAPSHOT`
**Module**: `quill-sql`

### Expected behavior
[code]
It compiles to
[code]
### Actual behavior
The `q` should be decided at runtime actually

### Steps to reproduce the behavior
See the query above
@getquill/maintainers

[2016-03-15 22:15] dispalt opened #276 "Support type parameters during macro expansion"
**Version**: 0.4.1

Trying to do anything generic with composing quotes together nets a macro exception.  Specifically I wanted to add some pagination capabilities to various classes without copy and pasting code.  I think if this gets fixed or some how worked around, it would make it a lot easier.

[code]

@getquill/maintainers

[2016-03-15 22:22] gustavoamigo commented on #276
@ddispaltro can you add some examples of what you want to do?

[2016-03-15 22:50] ddispaltro commented on #276
yeah I am trying to work up a smaller example.

[2016-03-16 02:37] fwbrasil commented on #275
That's interesting. It seems to be a Scala compiler bug, since `q` is being inferred with the type refinement of the first `if` branch.

[2016-03-16 02:39] fwbrasil commented on #266
I've changed a bit the design of #262, it won't touch the same code anymore. I'll prepare a fix.

[2016-03-16 02:56] #77 closed

[2016-03-16 11:21] #229 closed

[2016-03-16 12:58] #252 closed

[2016-03-16 14:24] godenji commented on #56
With #226 now implemented I think this approach is no longer needed (for insert/update at any rate).

[code]
Unless the above seems worth pursuing for 1.0 I vote to close (can re-open at later date as needed)

[2016-03-16 14:28] godenji commented on #58
@fwbrasil think we should close, was addressed with `contains` in #165 PR, no?

[2016-03-16 14:35] godenji commented on #64
@fwbrasil don't see this class commented out in the history and #62 was fixed/closed. Should we do the same here or is this still on the TODO list?

[2016-03-16 14:39] godenji commented on #111
+1 using JodaTime currently and would like to remove the external dep (since java 8 date api is based on JodaTime)

[2016-03-16 14:45] #275 closed

[2016-03-16 14:47] fwbrasil commented on #64
We can close this.

[2016-03-16 14:47] #64 closed

[2016-03-16 14:48] fwbrasil commented on #56
Makes sense. I'm closing this issue, @rfranco please feel free to reopen it if it's still relevant.

[2016-03-16 14:48] #56 closed

[2016-03-16 14:51] fwbrasil commented on #58
@godenji The feature could be used in other contexts, but I think it isn't too useful after the introduction of `contains`. Closed.

[2016-03-16 14:51] #58 closed

[2016-03-16 15:06] lvicentesanchez commented on #111
are we aiming to only support Java8? For me it's a +1 but I would like to hear the opinion of others.

[2016-03-16 15:11] godenji commented on #265
Agreed, a definite nice-to-have. Workaround for now is to use Slick codegen or other customizable code generator (disclaimer: currently use Slick to generate model/mapping for another query DSL; it's just source code after all ;-))

[2016-03-16 15:14] fwbrasil commented on #111
+1 to Java 8 only

[2016-03-16 15:20] lvicentesanchez commented on #111
@fwbrasil btw... I noticed you removed `-Ybackend:GenBCode`, was it related to #267?

[2016-03-16 15:39] lvicentesanchez commented on #266
It seems to be broken still

[2016-03-16 15:43] lvicentesanchez commented on #266
I have just tried... I might try again in a couple of hours, just in case the SNAPSHOT with the changes was not yet ready.

[2016-03-16 15:50] fwbrasil commented on #111
@lvicentesanchez no, I've removed it because eclipse doesn't like it.

[2016-03-16 16:18] mgibson commented on #265
Good to know about workaround for now

[2016-03-16 17:30] dispalt opened #281 "String and UUID comparisons should work"
**Version**: 0.4.1
**Module**: quill-core
### Expected behavior

Quill should support comparisons on two different scenarios. Basic string comparisons in the filter clause.

[code]

And comparisons with UUID which doesn't by default support `<`, `>`, etc.
### Actual behavior

String comparisons fail with being unable to parse the ast of the string comparisons.  With UUID's there's no way to expres

[2016-03-16 17:31] ddispaltro commented on #276
So the problem is really only at the callsite of db.run like this example by @guersam

[code]

[2016-03-16 17:44] ddispaltro commented on #281
This is my workaround for UUID's,

[code]

[2016-03-17 01:15] lvicentesanchez commented on #266
Closing it. It was in fact a problem with the update of the SNAPSHOT. Awesome job!

[2016-03-17 01:15] #266 closed

[2016-03-17 07:30] fwbrasil commented on #20
I've removed the `1.0` tag. We aren't having user reports of wrong query generation, so this has lower priority.

[2016-03-17 07:31] fwbrasil commented on #75
On second thought, this doesn't seem to be a requirement to `1.0`. Tag removed.

[2016-03-17 07:34] fwbrasil opened #283 "allow free variable bindings within `db.run`"
See #262

[2016-03-17 07:37] fwbrasil commented on #161
@getquill/maintainers Could you check if you agree with the [issues](https://github.com/getquill/quill/issues?q=is%3Aissue+is%3Aopen+label%3A1.0) tagged for the `1.0` release? Specially, I'd like to hear @godenji's concerns about usability of the library.

[2016-03-17 07:39] fwbrasil commented on #276
Tagged as `1.0`, let's see if we can release it with zero known bugs.

[2016-03-17 08:25] ikhoon commented on #276
@gustavoamigo  I have same trouble about this issue.
I need generic style codes to remove duplicated code and improve productivity.
[code]

[2016-03-17 12:11] lvicentesanchez commented on #161
Looks good to me. I'm going to work in a akka-http activator template.

[2016-03-17 12:13] lvicentesanchez commented on #20
I haven't hat time yet to work on this so far (new job and new flat at the same time is a recipe for disaster :D) but luckily I have a long easter break and I think I would be able to finally work on this ticket :)
I will start porting existing code to scalacheck with no extra features. Then I will evaluate what scalacheck is buying us and the add the missing features.

[2016-03-17 12:16] lvicentesanchez commented on #42
I started to do this for CQL in #217. The next step there is to provide links to relevant documentation that I will try to do during my flight to Spain this Saturday :)

[2016-03-17 12:51] gustavoamigo commented on #182
I have created this [example](https://github.com/gustavoamigo/play-quill-jdbc), what do you guys think about converting it into a template?

[2016-03-17 13:12] gustavoamigo commented on #161
LGTM
Also, as soon as we close these issues, I think we should have Release Candidates before launching an oficial 1.0 release. WDYT?

[2016-03-17 13:17] godenji commented on #161
@fwbrasil

For me the biggest 1.0 blockers are extraneous sub select generation\* and inability to compose queries without addtional table selects.

Extranous sub selects

`select sum(a), sum(b) from table group by c`

[code]
Query composition
[code]
Basically the left hand side (LHS) table aliases in a for comprehension are useless as far as composing queries is concerned (i.e. you cannot pass an

[2016-03-17 13:47] lvicentesanchez commented on #161
@godenji that's an easy question... CQL doesn't support subselects, join or anything like that :)

[2016-03-17 14:17] godenji commented on #182
@gustavoamigo nice one, that's a great starter for Play users.

[2016-03-17 14:18] gustavoamigo commented on #182
Also, I think the templates should be moved to https://github.com/getquill
WDYT?

[2016-03-17 15:13] fwbrasil commented on #182
@gustavoamigo +1. I imagine you have access to import it.

[2016-03-18 03:19] fwbrasil opened #285 "validate `CASSANDRA.md` with tut"
The Cassandra comparison should be validated with tut as part of the build.

See #284 for more details.

@getquill/maintainers

[2016-03-18 04:44] fwbrasil opened #286 "Multiple aggregations generate nested queries"
**Version**: `0.5.1-SNAPSHOT`
**Module**: `quill-sql`
### Expected behavior

[code]

Should generate

[code]
### Actual behavior

[code]
### Steps to reproduce the behavior

See example query.

@getquill/maintainers

[2016-03-18 04:51] fwbrasil commented on #161
@godenji I've created https://github.com/getquill/quill/issues/286 for the extraneous sub selects. It should be a simple fix, requiring only an additional normalization.

Regarding the query composition, I don't follow why you'd need the mapping boilerplate. It should be possible to implement it composing quoted functions, but maybe I'm missing something. Could you open an issue with a more detail

[2016-03-18 16:40] fwbrasil commented on #233
@getquill/maintainers any of you has design skills or knows someone that could prepare a logo for the project? It doesn't need to be fancy, just something that has the project name and a quill.

[2016-03-18 17:42] #285 closed

[2016-03-18 19:29] lvicentesanchez opened #288 "quill: build failed after merge (dealock while testing async MySQL)"
**Version**: 0.5.1-SNAPSHOT

### Expected behavior

Build shouldn't fail after a merge.

### Actual behavior

Build failed with this message:

[code]

@getquill/maintainers

[2016-03-19 04:21] jilen opened #289 "`blockParser` is too genric and is easy to produce `StackOverFlow`"
**Version**:  `0.5.1-SNAPSHOT`
**Module**:  `quill-core`

### Expected behavior
[code]
This should report unable to parser `scala.this.Predef.intArrayOps(a).contains(b)`
### Actual behavior
[code]
### Steps to reproduce the behavior
Run the parsing above, and blockParser will infinitely parsing itself
@getquill/maintainers

[2016-03-19 06:05] fwbrasil opened #291 "BetaReduction - Nested `FunctionApply` shadows identifiers"
**Version**: `0.5.1-SNAPSHOT`
**Module**: quill-core
### Expected behavior

[code]

Should produce:

[code]
### Actual behavior

[code]

@getquill/maintainers

[2016-03-19 17:08] lvicentesanchez commented on #233
I may be able to find somebody :)

[2016-03-19 17:37] fwbrasil commented on #233
@lvicentesanchez thanks! :)

[2016-03-19 22:34] gustavoamigo commented on #182
@getquill/maintainers
I have published an activator template. It's [here](https://www.lightbend.com/activator/template/play-quill-jdbc)
The repostitory is [here](https://github.com/getquill/play-quill-jdbc). Feel free to open issues and Pull Requests.

[2016-03-19 23:30] #289 closed

[2016-03-20 11:03] #261 closed

[2016-03-20 14:19] jilen commented on #170
@fwbrasil @getquill/maintainers Seems we are working well with `BindedStatementBuilder`, shall we close this issuse?

[2016-03-20 17:02] fwbrasil commented on #170
@jilen I think there's still space for refactoring, let's keep this open.

[2016-03-20 21:04] lvicentesanchez opened #293 "quill-cassandra: add missing Traversable encoder."
**Version**: 0.5.1-SNAPSHOT
**Module**: quill-cassandra

### Expected behavior

`contains` should work for all `Traversable`s.

### Actual behavior

`contains` should work for all `Traversable`s.

### Steps to reproduce the behavior

Write a cassandra query that uses the `contains` operator on anything that is not a list.

@getquill/maintainers

[2016-03-20 22:36] #293 closed

[2016-03-21 10:59] binkabir opened #297 "externalize filter queries"
**Version**: (e.g. `0.4.2-SNAPSHOT`)
**Module**: (e.g. `quill-jdbc`)

### Expected behavior
How can I externalize my filter queries? I understand that a `filter` takes a case class `object` and returns a `Boolean`
e.g `query[Employee].filter(_.id == id)`
I want to pass a high order function to `filter` so I can use a single query for multiple search scenarios
something like this :

`  def employee

[2016-03-21 11:08] godenji commented on #297
What happens when you split up query definition from execution, same error, or does it compile?

[code]

[2016-03-21 11:37] binkabir commented on #297
Hi godenji, Thanks for the response, however i still receive the same error even after splitting the code.
`[error] /Models.scala:46: exception during macro expansion: java.lang.StackOverflowError
[error]   val q = quote {
`

[2016-03-21 12:03] lvicentesanchez commented on #297
I have tried this with `0.5.1-SNAPSHOT` and I get a different error:
[code]

[2016-03-21 13:50] binkabir commented on #297
@lvicentesanchez, I got this  same error  when I was tweaking the code ;)

[2016-03-21 15:06] fwbrasil commented on #297
@binkabir The query composition must happen using quotations. It's not possible to compose functions that aren't `Quoted`. Working example:

[code]

Note that the parameter of the `employeeQuery` call is wrapped with a `quote` implicitly. Also, given that the `g` quotation isn't known at compile time, the query will be dynamic. I'd try to stick to static queries if possible.

I'm closing the issue

[2016-03-21 15:06] #297 closed

[2016-03-21 15:15] fwbrasil commented on #297
You can avoid dynamic queries separating query composition from query execution:

[code]

[2016-03-22 17:50] ddispaltro opened #299 "Unable to quote Ord"
**Version**: 0.5.0
**Module**: quill

### Expected behavior

Allow quoting on Ord[T], so I can dynamically pass it in and generate a dynamic query.

[code]

### Actual behavior

On **0.5.0** it generates a stackOverflow exception `exception during macro expansion: java.lang.StackOverflowError`
On **0.5.1-SNAPSHOT** it generates a
[code]

### Steps to reproduce the behavior

@getquill/maintainers

[2016-03-23 02:33] jilen opened #300 "Simplify multiple `AND` `OR` sql generation"
**Version**: `0.5.1-SNAPSHOT`
**Module**: `quill-sql`
### Expected behavior

If we filter on multi condition such as

[code]

The generated sql should be as simple as

[code]
### Actual behavior

[code]

The generated sql is in a nested structure
### Steps to reproduce the behavior

Described above
@getquill/maintainers

[2016-03-23 22:50] #299 closed

[2016-03-24 02:51] fwbrasil opened #302 "in-place bind variables only accept identifiers"
This template isn't a strict requirement to open issues, but please try to provide as much information as possible.

**Version**: `0.5.1-SNAPSHOT`
**Module**: `quill-core`

### Expected behavior

From @gustavoamigo's [comment](https://github.com/getquill/quill/pull/262#issuecomment-200391298):

Should compile:
[code]
### Actual behavior

It throws the following error:

[code]

Here is the complete

[2016-03-24 03:11] fwbrasil opened #303 "document in-place bindings"
I forgot to update the readme before merging #262.

[2016-03-24 13:00] gustavoamigo commented on #302
I've done more tests, it doesn't matter if it is in-place or not, it will not compile.

Both examples won't compile.

[code]

[2016-03-25 07:27] jilen commented on #172
@getquill/maintainers  I am planning to deal with this issue.

Here is the solution
- Add something like `ReturnType` as property of `Ast`
[code]
- Split `query` method in `Source`  into `queryAtom` and `querySequence`
- `QueryMacro` expand `query` to `queryAtom` or `querySequence` according to `query` 's `returnType`

How do your think of above solution. Is there any better/simpler solution ?

[2016-03-25 11:22] godenji commented on #172
[code]
Although it would perhaps be nice if the user could do something like old versions of Slick: `q.list`, `q.firstOption`, `q.first`, etc. to shape the result set.

[2016-03-25 11:28] jilen commented on #172
@godenji  Slick acutally not return a `List` for aggeration query

[2016-03-25 11:37] godenji commented on #172
@jilen oh, I meant in *old* versions of Slick you could do something like:

[code]
which allowed you to shape the result set. Basically some shorthand methods to avoid above workaround on `DB.run(query[Person].size)`

[2016-03-25 11:44] jilen commented on #172
@godenji  I understand. Do you think it necessary make aggeration queries return single result instead of a `List`(which quill did for now) ?

[2016-03-25 11:48] godenji commented on #172
@jilen not sure how easy that will be, seems Quill result sets are currently based on `List` return type.

[2016-03-25 11:56] jilen commented on #172
@getquill/maintainers This feature may break source compatibility. We should consider whether implement it before or after `1.0` release

[2016-03-25 15:12] fwbrasil commented on #172
@jilen The types are guided by the quotation type, not the AST. It should be much simpler than that, there are [methods that handle](https://github.com/getquill/quill/blob/master/quill-sql/src/main/scala/io/getquill/sources/sql/SqlSource.scala#L118) this kind of quotation. We could change their return type and use a specific macro method. We could have `macro.runList` and `macro.runSingle`.

[2016-03-25 15:13] fwbrasil commented on #172
I've added the `1.0` label, I think it's an important change for usability. Let me know if you disagree.

[2016-03-28 15:42] timo-schmid opened #305 "Option's field name is not converted to snake_case when isEmpty is used."
Hi,

as discussed in gitter:

It's not possible to use a camelCase field name in a case class for an optional type with snake_case.
The field name in the query is not converted correctly.

Example:

`case class TestData(id: Int, optionValue: Option[Int])`

[code]

**Workaround**: Just use a simple field name for the option (for example value).

**Version**: `0.5.0`
**Module**: `quill-jdbc` (I thin

[2016-03-28 15:49] Rogach opened #306 "Empty set generates incorrect queries with IN clause"
**Version**: 0.5.0

Non-empty set filters generate expected `column IN (1,2,3)` queries. But if empty set is provided, resulting SQL is rejected by database (`IN ()` is not valid SQL). Is it possible to output `FALSE` instead of such statements?

### Steps to reproduce the behavior

[code]

@getquill/maintainers

[2016-03-29 01:57] jilen commented on #305
@timo-schmid Thanks for report this bug. I will fix it soon

[2016-03-29 02:31] #305 closed

[2016-03-29 02:34] fwbrasil commented on #305
@timo-schmid Could you check if the SNAPSHOT version fixes the issue?

[2016-03-29 10:43] Rogach commented on #306
Oh, I see now - queries are generated at compile-time, so there is no way to fix this case. I will probably resort to providing set with single definitely non-existent value in such cases.

[2016-03-29 12:32] gustavoamigo commented on #306
Quill should never produce a wrong query, let's keep it open until we have a fix.

[2016-03-29 15:28] Rogach commented on #306
I would love to have a solution for this one, of course. Maybe quill is able to defer some small parts of query compilation to run-time?

For example, I currently see that amount of prepared query parameters can change at runtime within single query with different sets:

[code]

[2016-03-29 18:27] gustavoamigo commented on #283
@fwbrasil Just to make sure everyone knows, can I change the issue to only allow free variables bindings?

[2016-03-29 22:03] fwbrasil commented on #283
@gustavoamigo I'd prefer to close this one, since it was merged, and open a new one for you change.

[2016-03-30 21:27] Rogach commented on #306
[This question provides some ways to fix this problem](http://stackoverflow.com/questions/13210233/empty-in-clause-parameter-list-in-mysql)

For instance, one could replace `IN ()` with `IN (select 0 limit 0)`, and such query compiles and seems to run okay.

[2016-03-31 10:33] lvicentesanchez commented on #306
as CQL is SQL-like language, I was worried that this could be also an issue there but `IN ()` is valid in CQL.

[2016-03-31 23:37] mmatloka opened #309 "quill-cassandra - add encoders for collection type columns"
Hi,
I have noticed there are no encoders for collection type columns. It would be worth to have them built in.

**Version**: (e.g. `0.5.0`)
**Module**: (e.g. `quill-cassandra`)

The tricky part is cassandra support indexes on sets and maps - on maps even a few types.

@getquill/maintainers

[2016-03-31 23:47] mmatloka opened #310 "quill-cassandra - support pagination based on paging state"
Paging big datasets with datastax driver is useful using the `PagingState`.

[code]
[code]

I am not sure what would be the best way to fit it to the quill API.

**Version**: (e.g. `0.5.0`)
**Module**: (e.g. `quill-cassandra`)

@getquill/maintainers

[2016-03-31 23:50] mmatloka opened #311 "quill-cassandra - support UDTs"
They potentially could be just mapped to case classes.

**Version**: (e.g. `0.5.0`)
**Module**: (e.g. `quill-cassandra`)

@getquill/maintainers

[2016-03-31 23:55] lvicentesanchez commented on #310
You could paginate the dataset using the streaming source,
CassandraStreamSource that produces an Observable.
On 1 Apr 2016 00:47, "Michal Matloka" <notifications@github.com> wrote:

[2016-03-31 23:57] mmatloka opened #312 "quill: domain field constructed from multiple column values"
Hi,
I have the following case - my domain case class has field (actually a `java.time.ZonedDateTime`) which is constructed from two column values (timestamp + zoneid). I know it would be possible to define case class which would have both these columns as separate fields, but is it possible to define some "main mapper" so that I would not need to perform mapping to my actual domain class on each q

[2016-04-01 00:00] mmatloka commented on #310
`PagingState` is good for REST API where client can pass a key and limit to get a specific result page. I think I unfortunatelly can't use Observable in such scenario.

[2016-04-01 00:03] lvicentesanchez commented on #310
I see. Yes, it would be nice if we could fit it in the API. I will give it
a thought :)
On 1 Apr 2016 01:00, "Michal Matloka" <notifications@github.com> wrote:

[2016-04-01 00:21] mmatloka opened #313 "quill-cassandra: allow BatchStatement for (selected) batch executions"
I have noticed in readme part about batches, and I've suspected to see underneath also `BatchStatement` from datastax driver :). Current quill implementation during `executeBatch` performs a serial execution (one future after another), however during single partition operations it is sometimes valuable to leverage `BatchStatement`s (but not for multi-partition operations). This probably would requ

[2016-04-01 00:35] mmatloka opened #314 "quill-cassandra: question about number of opened sessions"
I have a case in which I would like to use in my application a `CassandraAsyncSourceConfig` in oder to execute async queries, but since it loads whole query result to the memory (only `toList` on `ResultSet`, no `Iterable`), for some queries I would need to use also `CassandraStreamSourceConfig`. Do this mean I will have two separate `Cluster` objects and two separate datastax driver `session`s op

[2016-04-01 00:40] lvicentesanchez commented on #314
Yes, that's right. We have an open ticket to address that issue, but for
now you would have as many clusters and sessions as different sources you
have.
On 1 Apr 2016 01:35, "Michal Matloka" <notifications@github.com> wrote:

[2016-04-01 05:34] suhyunjeon commented on #141
@jilen Did you solve the problem?

I also using ```finalge-mysql```. But there are errors about mysql syntax.
I want to apply return id (primary key) after first insert.

[code]

[2016-04-01 12:36] mmatloka commented on #314
This tocket https://github.com/getquill/quill/issues/133 ?

[2016-04-01 13:39] lvicentesanchez commented on #311
I have been thinking about supporting UDT for a while. The main "problem" right know is that quill already has some support for embedded case classes #114.

One possible option is to flag that the case class property is an UDT, e.g.

[code]
The UDT class would reside in the quill-cassandra submodule and making it a value class means there would be no runtime boxing/unboxing. @getquill/maintainers

[2016-04-01 13:44] lvicentesanchez commented on #312
@mmatloka Could you give as an example of what do you want to achieve?

[2016-04-01 13:45] lvicentesanchez commented on #314
Yes, that's the one.

[2016-04-01 16:16] mmatloka commented on #314
Ok, so I think it can be tracked there, and we can close this one :)

[2016-04-01 16:16] #314 closed

[2016-04-01 16:29] mmatloka commented on #312
Sure,
So e.g. my domain model wold be
```Something(key : String, time : java.util.ZonedDateTime)```
But since cassandra `timestamp` keeps time in UTC, and I don't want to loose info about the `ZoneId` I need to store it as two seperate columns, let's say:
[code]
In order to use such table in quill queries, I probably have to use a more raw case class (lets assume I already have encoder for timesta

[2016-04-01 16:33] mmatloka commented on #311
Hmm, I am not convinced, since it would mean that case class model field would have to be strictly related to underlying library. It would be nicer if it could be even e.g.:
[code]
(so it would also be a bit similiar style to https://github.com/getquill/quill#wrapped-types )

[2016-04-01 16:36] mmatloka opened #315 "quill-cassandra: supported jdk versions"
Hi,
I have a question - what jdk versions quill supports, jdk7+, jdk8+? This questions is stricly followed with an idea to include encoders for jdk8 `java.time` :)

**Version**: (e.g. `0.5.0`)
**Module**: (e.g. `quill-casasndra`)

@getquill/maintainers

[2016-04-01 16:38] lvicentesanchez commented on #311
Yes, you are right. I forgot about what we did for "newtypes"; I like the
idea, I would give it a try.
On 1 Apr 2016 17:33, "Michal Matloka" <notifications@github.com> wrote:

[2016-04-01 16:39] lvicentesanchez commented on #315
We already have a ticket for that (I'm on my phone so it's not easy to look
for it)
On 1 Apr 2016 17:36, "Michal Matloka" <notifications@github.com> wrote:

[2016-04-01 16:41] mmatloka commented on #315
I see it now https://github.com/getquill/quill/issues/111 . Sorry !

[2016-04-01 16:41] #315 closed

[2016-04-03 01:14] gustavoamigo commented on #302
Working on this

[2016-04-05 04:03] jilen opened #316 "simplify `finagle-mysql` action result type"
**Version**:  `0.5.1-SNAPSHOT`
**Module**:  `quill-finagle-mysql`

### Expected behavior
[code]
It would be better to return `Long` as `mysql-async` does instead of `com.twitter.finagle.exp.mysql.Result`
### Actual behavior
Returns  `com.twitter.finagle.exp.mysql.Result`
Call side need to cast it to `com.twitter.finagle.exp.mysql.OK` first

### Steps to reproduce the behavior

@getquill/maintainer

[2016-04-05 08:39] suhyunjeon opened #317 "`drop` and `take` cannot follow by `join`"
**Version**: (e.g. `0.5.0`)
**Module**: (e.g. `quill-core`)

I want to use ```drop``` and  ```take``` with ```join```. It is not working.
It is my codes.
[code]
It's compile errors.
[code]

It seems to be a bug. Is anybody else like me?
@getquill/maintainers

[2016-04-05 09:11] ksilin commented on #111
@godenji do you happen to have a working example of DateTime with Quill?

I try to provide the encoding with

[code]

but still get the following error:

`com.datastax.driver.core.exceptions.CodecNotFoundException: Codec not found for requested operation: [timestamp <-> java.lang.String]`

Looking at the code from quill-pgsql, it seems to be far more involved.

[2016-04-05 11:21] beikern commented on #111
[code]

This works for me, maybe I missunderstood what do you want to do :(

[2016-04-05 12:13] ksilin commented on #111
@beikern - hey, thanks for looking into it. Still missing something here unfortunately. Perhaps I am misunderstanding how this should be done entirely :) Full original example:

[code]
Last line results in the `CodecNotFoundException`.

When I replace the two `mappedEncoding` values with the ones you provided, the code no longer compiles with `Source doesn't know how to decode 'p1.date: org.joda.t

[2016-04-05 12:20] zifeo opened #318 "Missing encoders/decoders should not compile when using custom types"
**Version**: 0.5.0
**Module**: quill-async

### Expected behavior

Failing compilation.
[code]
### Actual behavior

Successful compilation and prints:
[code]

### Steps to reproduce the behavior

[code]
[code]

This works when using joda time `DateTime` but not when using akka `DateTime`.

@getquill/maintainers

[2016-04-05 12:30] lvicentesanchez commented on #111
@ksilin what @beikern posted should work. If not it's probably an issue with the implicit scoping, e.g. the source can't find the implicit. I'm going to try your snippet and come back with an alternative :)

[2016-04-05 12:36] lvicentesanchez commented on #111
#318 might be related to your problem @ksilin

[2016-04-05 12:49] beikern commented on #111
@ksilin

[code]

I've tried this now and It works as expected :) Hope it's useful for you!

[2016-04-05 13:01] lvicentesanchez commented on #111
@ksilin This should work

[code]

[2016-04-05 13:44] ksilin commented on #111
@beikern @lvicentesanchez

Yay, learning! Both variants work. Many thanks to both of you!

`ZoneOffset.of("Europe/Berlin")` refused to work with `java.time.DateTimeException: Invalid ID for ZoneOffset, invalid format: Europe/Berlin`, but this is not important, I will work around with `instant.atZone(ZoneId.of(...))` or similar

![Awesome](http://memesvault.com/wp-content/uploads/Awesome-Meme-14.jp

[2016-04-05 15:17] lvicentesanchez commented on #318
Thank you for reporting this bug. I have dug a bit and the issue here is that akka-http DateTime is a case class, and when you have an `UnassignedAction` quill seems to not be validating at compile time that type of the case class you want to insert/update is the expect by the quotation.

if we change the insert to an update, we get this:

[code]

[2016-04-05 15:57] lvicentesanchez commented on #318
Sorry forget my previous comment, I was playing around with your example and I ended up with something different.

The underlying problem with your example is still the same, the inner case class is being expanded.

[2016-04-05 16:01] lvicentesanchez commented on #318
#114 might be related to this problem.

[2016-04-05 16:07] lvicentesanchez commented on #114
This embedded case class support is having some undesired interaction with insert/updates, see #318. As quill is not really a ORM, I would argue that this feature should be an opt-in feature that would enabled by... maybe mixing an `Embbeded` trait to the nested case class.

Also this is going to probably give more than a headache when I start implementing #311:) (I'm planning to explore the _tagg

[2016-04-05 21:54] fwbrasil commented on #317
@suhyunjeon Thank you for the bug report. It seems to be a bug. I'll try to fix it within the next days.

[2016-04-06 08:08] beikern commented on #276
+1 I've just had this problem. Is there any workaround to avoid duplicating code everywhere? Meanwhile I'll try something like what @ikhoon posted.

[2016-04-06 12:05] lvicentesanchez commented on #114
@getquill/maintainers opinions about this?

[2016-04-06 15:00] fwbrasil commented on #114
@lvicentesanchez yep, makes sense

[2016-04-06 15:41] gustavoamigo commented on #316
👍  should be easy to fix.

[2016-04-06 20:20] onilton commented on #198
Did anyone work on this one?
I was looking at https://github.com/json4s/json4s/pull/296 and managed to get a little tiny tiny thing working for quill. :stuck_out_tongue:

[2016-04-06 20:21] lvicentesanchez commented on #198
I was going to work on this but if you already have something working, just create a PR :)

[2016-04-07 21:39] #198 closed

[2016-04-07 22:28] zifeo commented on #184
Adding the classpath during compilation solved this issue for me.

[2016-04-08 06:37] beikern opened #321 "Tree can't be parsed to 'Ast' when using equals method"
Version: 0.5.1-SNAPSHOT

[code]

Expected behavior

Program compiles, is executed and prints using stdout the value of the entity by id

Actual behavior

[code]

Steps to reproduce the behavior

Run the code above, compile using SBT

PS: if getById is defined as follows

[code]

works as expected, dunno why.

@getquill/maintainers

[2016-04-08 08:44] suhyunjeon commented on #321
@beikern You can change a version to 0.5.1-SANPSHOT.

[2016-04-08 09:36] jilen commented on #321
This is already closed #289

[2016-04-08 09:38] beikern commented on #321
@jilen

Changed to 0.5.1-SNAPSHOT, still failing.

I've updated the first post.

[2016-04-08 14:53] jilen commented on #321
@beikern have you tried `==` instead of `equals`

[2016-04-08 17:50] beikern commented on #321
Yes, It works if I use ```==``` . It compiles and executes as expected.

[2016-04-08 17:55] gustavoamigo commented on #321
maybe we should add support to `equals`.

[2016-04-10 11:50] lvicentesanchez opened #323 "quill-cassandra: ops not working with UnassignedAction[_] with Insert[_]/Update[_]"
**Version**: 0.5.1-SNAPSHOT
**Module**: `quill-cassandra`

### Expected behavior
It should be possible to write this quotations:

[code]

[code]

### Actual behavior
`ifExists`/`ifNotExists` can't be used with unassigned actions.

@getquill/maintainers

[2016-04-12 01:46] jilen commented on #321
@gustavoamigo @beikern Personally say, I think `==` is  enough.

[2016-04-12 07:58] beikern commented on #321
IMHO == could be enough if the message error when using ```equals```  was a bit more descriptive, maybe something like "Unsupported method".

[2016-04-12 17:39] git4sun commented on #309
Is there a workaround for the current version?

[2016-04-14 15:45] fwbrasil commented on #321
I'd prefer to add support for `equals`, it's simple to add it and it's  less surprising to the users if it "just works".

The fix is probably only an additional line here: https://github.com/getquill/quill/blob/master/quill-core/src/main/scala/io/getquill/quotation/Parsing.scala#L296

[2016-04-16 00:34] lshoo opened #325 "mock with Mockito will NullPointerException"
Our code:
package repositories
[code]
///////
When use the injector, It's work.
but when use the mock and run ,will get an NPE,
[code]

[2016-04-16 00:38] lshoo commented on #325
`import database._
import io.getquill._
import modules.user.models.User

import scala.concurrent.{ ExecutionContext, Future }

/**
 * Created by liaoshifu on 2016/4/8
 */
class UserRepo @Inject() () {

  val users = quote(query[User](_.entity(User.USER_TABLE_NAME).generated(_.id)))

  def findOne(id: Long): Option[User] =
    db.run { quote { users.filter(_.id == id) } }.headOption

  def list: Se

[2016-04-16 00:44] fwbrasil commented on #325
Doesn't seem to be related to quill. The mock needs to be told what to return when `created` is called. Please feel free to reopen if necessary.

[2016-04-16 00:45] #325 closed

[2016-04-19 06:34] zifeo commented on #318
Even worse, `case class Table(field: Option[DateTime])` does compile and throws a `MatchError` due to [JdbcEncoders.scala#L45](https://github.com/getquill/quill/blob/master/quill-jdbc/src/main/scala/io/getquill/sources/jdbc/JdbcEncoders.scala#L45) whenever there is an encoder/decoder for `Option[DateTime]` or not.

[2016-04-20 11:33] #302 closed

[2016-04-20 11:35] gustavoamigo opened #326 "Replace FreeVarTraverser to avoid using Scala's Macro Api"
Replace `FreeVarTraverser` with `FreeVariables` transformation in order to avoid using Scala's Macro Api.

**Version**: 0.5.1-SNAPSHOT
**Module**: quill-core

### Expected behavior
N/A
### Actual behavior
N/A
### Steps to reproduce the behavior

@getquill/maintainers

[2016-04-20 11:39] gustavoamigo opened #327 "Support Free Variables with Dynamic Queries"
It should be possible to use Free Variables with Dynamic Queries

**Version**: `0.5.1-SNAPSHOT`
**Module**: `quill-core`

### Expected behavior
The code below should run without problems. The problem is that `n` and `i` are Free Variables and `q` is a Dynamic Query. This combination is not yet supported.

[code]
### Actual behavior
It should run with Free Variables without problems

### Steps to r

[2016-04-20 12:35] lvicentesanchez commented on #309
I have been quite busy lately (moving to a new flat,...) but I'm back! @fwbrasil I'm not quite sure if this should be considered easy due to how this is supported by the driver. For primitive types should be pretty straight forward but... if somebody wants to read/write a `Set[LocalDateTime]`, then we would have a problem.

There are two signatures for the `getSet` function (the same applies for a

[2016-04-20 16:27] #321 closed

[2016-04-22 06:53] jilen opened #330 "Number of bindings doesn't match the question marks. if sql contains `?`"
**Version**: (e.g. `0.5.0-SNAPSHOT`)
**Module**: (e.g. `quill-sql`)

### Expected behavior
[code]
This query should run fine.
### Actual behavior
[code]
@getquill/maintainers

[2016-04-24 02:46] fwbrasil commented on #330
@jilen the db should not consider `'?'` as a binding. This could be a driver bug, what module are you using? Could you also share the complete stack trace?

[2016-04-25 03:42] jilen commented on #330
@fwbrasil
[code]
It occurs when use `mysql-async` not sure whether other module has issue.

[2016-04-25 15:43] gustavoamigo commented on #330
I think the problem occurs [here](https://github.com/getquill/quill/blob/master/quill-core/src/main/scala/io/getquill/sources/BindedStatementBuilder.scala#L36). While traversing the string, it should ignore anything that is quoted or double quoted like `SELECT * FROM People WHERE name = '?whatever?'`

[2016-04-27 04:12] gustavoamigo opened #334 "Cassandra Driver Freezes with contains clause"
Cassandra Driver freezes with

**Version**: `0.5.1-SNAPSHOT`
**Module**: `quill-cassandra`

### Expected behavior
The code below should execute without any problem:
[code]
### Actual behavior

It freezes

### Steps to reproduce the behavior

Just execute the test case

@getquill/maintainers

[2016-04-27 04:13] gustavoamigo commented on #334
I don't know if it helps, but here's the log I get.
[code]
It just freezes forever after the last line

[2016-04-27 06:20] #306 closed

[2016-04-27 07:00] fwbrasil opened #336 "scalakata playground"
Would it be possible to deploy scalakata with Quill on the classpath and an in-memory db? It could be helpful to discuss issues and a good way for new users to quickly try out the lib.

I imagine the AWS's free tier would be enough to run it.

http://scalakata.com

@getquill/maintainers

[2016-04-27 08:47] jilen opened #337 "Cannot run left/right join under some situation"
**Version**: (e.g. `0.5.1-SNAPSHOT`)
**Module**: (e.g. `quill-core`)

### Expected behavior
Example 1
[code]
Example 2
[code]

Query `leftJoin1`  and `leftJoin2` should runs file

### Actual behavior
`leftJoin1`
[code]
`leftJoin2`

[code]
### Steps to reproduce the behavior

@getquill/maintainers

[2016-04-27 08:54] godenji commented on #337
@jilen try defining the case classes top-level (i.e. not embedded in a trait). I recall hitting the same issue with specs and the `WrappedType` implementation.

[2016-04-27 09:07] jilen commented on #337
@godenji I know, but `leftJoin2` still exists and seems not related to `dependent type`

[2016-04-27 09:12] godenji commented on #337
@jilen are `Foo` and `Bar` now top-level case classes in `leftJoin2` example?

[2016-04-27 09:16] jilen commented on #337
@godenji  I tried define as top level.

[2016-04-28 09:32] deterdw commented on #206
@fwbrasil Sorry I missed this earlier, but it works now. This is great. Thank you!

[2016-04-28 16:00] zifeo opened #338 "Cannot reproduce "Wrapped types" example"
In the documentation, the example under the *Wrapped types* is not reproducible.

**Version**: `0.5.0`
**Module**: `quill-async`

### Expected behavior

From the documentation:
[code]
### Actual behavior

Notice **u.idvalue**:

[code]

### Steps to reproduce the behavior

[code]

[code]

@getquill/maintainers

[2016-04-28 18:57] zifeo commented on #338
Certainly related to #114.

[2016-05-02 07:08] fwbrasil opened #339 "ci build doesn't fail if tests don't pass"
https://travis-ci.org/getquill/quill/builds/127152138

@getquill/maintainers

[2016-05-03 01:28] fwbrasil commented on #161
@godenji any news on this?

[2016-05-03 01:33] jilen opened #340 "`avg` should return `BigDecimal`"
**Version**: (e.g. `0.5.1-SNAPSHOT`)
**Module**: (e.g. `quill-core`)

### Expected behavior
`avg` query should return `BigDecimal` instead of column type

### Actual behavior
Returns column type

### Notes
Will fix this in #324

@getquill/maintainers

[2016-05-03 01:41] jilen opened #341 "`contains` may generated un-normalized query"
This template isn't a strict requirement to open issues, but please try to provide as much information as possible.

**Version**: (e.g. `0.5.1-SNAPSHOT`)
**Module**: (e.g. `quill-jdbc`)

### Expected behavior
Query
`query[TestEntity].map(_.id).contains(1)`
Should not compile or generate valid sql
### Actual behavior
Compiles but cannot run at runtime

@getquill/maintainers

[2016-05-03 05:24] jilen opened #342 "[quill-cassandra] Simple filter query keeps allocating native memory and crashes the jvm"
**Version**: (e.g. `0.5.1-SNAPSHOT`)
**Module**: (e.g. `quill-cassandra`)

### Expected behavior
Query `query[TestEntity].filter(_.id == 1)` should run ok
### Actual behavior
[code]
### Steps to reproduce the behavior

@getquill/maintainers

[2016-05-03 05:42] fwbrasil commented on #342
@jilen this doesn't seem to be related to Quill. SBT is trying to allocate memory to run the test and fails.

[2016-05-03 05:50] jilen commented on #342
@fwbrasil Extractlly

[2016-05-03 05:50] #342 closed

[2016-05-03 06:37] godenji commented on #161
@fwbrasil sorry, have been quite busy of late.

re: query composition, here's a contrived example (won't compile as not sure how b & c below can be passed as `Query`ables).

[code]
It is unclear how Quill can retain the unique table aliases of the b & c generated from `abcQ()` after the call to `bcQ()`. i.e. does the generated sql table alias of b == d and c == e? If so, then Quill does the right

[2016-05-03 14:37] fwbrasil opened #343 "Codecov not working"
It reports the current coverage as 0%!

[2016-05-05 01:44] jilen commented on #316
@getquill/maintainers This is api breaking change, I think we would better do it before `1.0` release.

[2016-05-05 12:29] gustavoamigo commented on #316
@jilen i agree, we should do it before release 1.0.

[2016-05-05 22:52] gustavoamigo opened #344 "Parameterised quotation should support arbitrary classes as its parameters"
This following quotation does not compile:

[code]

Throwing the following error:
`Source doesn't know how do encode 'p1: services.User'`

**Version**: `0.5.1-SNAPSHOT`
**Module**: `quill-core`

### Expected behavior
It should compile and run without any problem.

### Actual behavior
Compile error:
`Source doesn't know how do encode 'p1: services.User'`

### Steps to reproduce the behavior
N/A

@g

[2016-05-06 06:51] fwbrasil commented on #344
As discussed pvt, I think we could just give a better error message suggesting `lift`:

[code]

[2016-05-06 15:11] #172 closed

[2016-05-06 15:11] #340 closed

[2016-05-06 15:24] fwbrasil opened #346 "Simplify `lift`/`binding` implementation"
The internal implementation of `lift`, introduced by https://github.com/getquill/quill/pull/335, needs to be reviewed and simplified.

- It should be possible to have a single AST for bindings: `case class Binding[T](name: String, value: T)`. I've tried this approach and the code is much simpler, but I've hit a compiler bug.
- The implementation should use the name `Lifted` instead of `Binding` to

[2016-05-06 15:25] fwbrasil commented on #343
Fixed by https://github.com/getquill/quill/pull/345

[2016-05-06 15:25] #343 closed

[2016-05-06 15:25] fwbrasil commented on #327
fixed by https://github.com/getquill/quill/pull/335

[2016-05-06 15:25] #327 closed

[2016-05-06 15:25] fwbrasil commented on #303
Fixed by https://github.com/getquill/quill/pull/335

[2016-05-06 15:25] #303 closed

[2016-05-06 15:26] fwbrasil commented on #283
Fixed by https://github.com/getquill/quill/pull/335

[2016-05-06 15:26] #283 closed

[2016-05-06 17:59] gustavoamigo opened #348 "Add VersionEye SBT plugin to keep dependencies updated"
WDYT about adding the following plugin to keep dependencies?

https://github.com/versioneye/versioneye_sbt_plugin

@getquill/maintainers

[2016-05-06 20:08] gustavoamigo commented on #21
Hey, guys, do you really think that this is an essencial feature for version 1.0 release? I was thinking, I am really ok with the current feature set of the snapshot version. Maybe, we should just concentrate on fixing all critical bugs in order to release RC 1.0 as soon as possible? WDYT?

[2016-05-06 20:16] gustavoamigo commented on #326
Not an issue anymore

[2016-05-06 20:16] #326 closed

[2016-05-07 03:47] fwbrasil commented on #21
@gustavoamigo makes sense. I'm removing the `1.0` tag, @getquill/maintainers please let us know id you have concerns.

[2016-05-07 03:49] fwbrasil commented on #138
It's also possible to use `lift` now.

[2016-05-07 03:49] #138 closed

[2016-05-07 03:53] fwbrasil commented on #264
@gustavoamigo `lift` doesn't seem to be enough for this case, because of batching.

[2016-05-07 04:35] fwbrasil commented on #341
@jilen I've tried to reproduce the issue, but I get another error:

[code]
[code]

What error do you get?

[2016-05-08 02:53] jilen commented on #341
@fwbrasil I got same error, sorry for the wrong description.

[2016-05-09 05:15] fwbrasil commented on #161
@godenji It's still unclear to me what you're trying to achieve. Would this be the signature of `abcQ`?

[code]

If yes, it's fully supported and the normalization will take care of simplifying the final query. Most of the normalization is based on [this paper](http://homepages.inf.ed.ac.uk/slindley/papers/practical-theory-of-linq.pdf), you can have a good idea on how the normalization works readi

[2016-05-09 06:35] fwbrasil commented on #337
I just removed the `1.0` tag, @jilen please feel free to add it back if you consider that it should be fixed before the `1.0` release.

[2016-05-09 07:01] godenji commented on #161
@fwbrasil `abcQ()` applied returns a `Query[(T1, T2, T3)]`.

When we flatMap through the result we have `(T1, T2, T3)` on the LHS as `(a, b, c)`. The problem in terms of composition is that once a `Query` step has been applied the result has lost it's `Query`ability. So, it seems that `bcQ()` cannot be defined as:

[code]
but must be:
[code]

which means we have to rewrap result type(s) in `Query(

[2016-05-09 14:33] #339 closed

[2016-05-10 00:39] fwbrasil opened #355 "Review Entity AST"
Inheritance should be avoided. See https://github.com/getquill/quill/pull/351

@getquill/maintainers

[2016-05-10 00:40] #341 closed

[2016-05-10 00:43] ikhoon commented on #276
:+1: Thanks!!!

[2016-05-10 02:07] fwbrasil commented on #276
@ikhoon Please note that's still not fully fixed: https://github.com/getquill/quill/pull/351

[2016-05-10 03:56] fwbrasil opened #357 "quill-finagle-mysql: test `generated`"
There aren't tests covering the returned generated column.

@getquill/maintainers

[2016-05-10 15:12] ksilin opened #359 "Execution of arbitrary CQL/SQL requires a mandatory `BindedStatementBuilder => BindedStatementBuilder` parameter"
**0.6.0**
**quill-cassandra** probably others as well using `session.execute...` methods

### Expected behavior

`val getRes: Future[ResultSet] = source.execute(someCQL)` should compile

### Actual behavior
compile error:
`not enough arguments for method execute: (cql: String, bind: io.getquill.sources.BindedStatementBuilder[com.datastax.driver.core.BoundStatement] => io.getquill.sources.BindedSta

[2016-05-11 05:35] #316 closed

[2016-05-11 06:13] #359 closed

[2016-05-11 06:22] fwbrasil opened #362 "readme - remove `lazy` from db values"
### Expected behavior

Sources don't need to be declared as `lazy val`.
### Actual behavior

The readme uses `lazy val` for all sources to avoid having to crate an instance of the source, since they'd require a valid configuration.

We need to figure out how to avoid `lazy val` without having to create configurations for each source in the readme.

@getquill/maintainers

[2016-05-12 06:10] fwbrasil commented on #170
`BindedStatementBuilder` should receive the query with named params (`:param` instead of `?`) and rewrite them to `?`. The parsing approach is too fragile.

[2016-05-12 06:44] fwbrasil commented on #344
Closing this issue in favor of https://github.com/getquill/quill/issues/264

[2016-05-12 06:44] #344 closed

[2016-05-13 06:47] #330 closed

[2016-05-13 16:15] #338 closed

[2016-05-13 18:54] mbardea opened #365 "A query may use table names which loos like SQL keywords (syntax error)"
**Version**: 0.6.0
**Module**: quill-jdbc

(Database: PostgreSQL)

### Expected behavior
Query should succeed.

### Actual behavior
Syntax error in generated SQL.

### Steps to reproduce the behavior

[code]
The generated query looks like:
[code]

The query syntax is broken as "user" is a reserved word.

Ideally the generated SQL should either quote table names or replace them with something that

[2016-05-14 03:37] zifeo commented on #338
Thanks 🎉

[2016-05-14 21:33] fwbrasil commented on #233
suggestion

<img width="214" alt="screen shot 2016-05-14 at 2 27 44 pm" src="https://cloud.githubusercontent.com/assets/831175/15270791/dd36d4bc-19e0-11e6-9e68-d169500f49a4.png">

[2016-05-14 21:43] lvicentesanchez commented on #233
I haven't heard from the designer yet. I can contact him and see if he has
done something. otherwise, I like your proposal.
On 14 May 2016 22:33, "Flavio W. Brasil" <notifications@github.com> wrote:

[2016-05-14 22:04] fwbrasil commented on #233
@lvicentesanchez sure, let us know if he has something in the works. I've prepared this one using an online tool, and I don't trust too much my design skills :)

[2016-05-16 01:40] jilen commented on #365
@mbardea  Have you tried `io.getquill.naming.Escape` ?

[2016-05-16 02:58] komsit37 opened #366 "Lift binding does not automatically encode WrappedValue"
I'm getting compile error when using  **Lift Binding** (http://getquill.io/#bindings) with `WrappedValue` (http://getquill.io/#custom-encoding)

**Version**: `0.6.0`
**Module**: `quill-sql`

### Expected behavior
Successfully compile
### Actual behavior
Compile error
[code]
### Steps to reproduce the behavior
[code]

### Workaround
Explicitly pass `id.value` to `lift`
[code]
Or use **Parameterized

[2016-05-17 12:11] mbardea commented on #365
@jilen The workaround is to just rename the variable "user" in the "for" statement, but the fact that the user chose a variable name which happens to collide with an SQL keyword should ideally be transparent and automatically take care of by the framework.

[2016-05-18 00:36] fwbrasil opened #368 "Test compilation time"
We should have a way to automatically verify how long the query compilation takes.

For inspiration: https://github.com/milessabin/shapeless/pull/595/files

@getquill/maintainers

[2016-05-18 15:43] beikern opened #370 "Runtime error when using lift binding on a complex type value in a quotation"
I'm getting a runtime error when using lift binding on a Joda DateTime value (this should happen with other complex types) in a quotation

**Version**: 0.6.0
**Module**: quill-cassandra

### Expected behavior

Successfully compile and execution

### Actual behavior
Runtime error throwing the following trace

[code]

### Steps to reproduce the behavior

[code]

[code]

@getquill/maintainers

[2016-05-19 06:25] beikern opened #371 "Compile time error in parametrized quotations with dynamic queries"
Parametrized quotations with dynamic queries are not working as expected.

**Version**:0.6.0
**Module**: quill-cassandra

### Expected behavior
Compiles an executes correctly

### Actual behavior
Fails at compile time throwing errors

[code]

### Steps to reproduce the behavior

[code]

@getquill/maintainers

[2016-05-19 08:18] komsit37 opened #372 "Wrapped Type generates unexpect column name in select sql"
When using Wrapped Type, quill append `value` to column name in select sql.

**Version**: `0.6.0`
**Module**: `quill-sql`

### Expected behavior
Given
[code]
I expect quill to generate
`SELECT x.id, x.name FROM Account x`
### Actual behavior
quill appends `value` to `id` column
`SELECT x.idvalue, x.name FROM Account x`

### Steps to reproduce the behavior
[code]

### Workaround
Add
`implicit val e

[2016-05-19 08:44] komsit37 commented on #372
I guess this is the same behavior as mentioned here https://github.com/getquill/quill/issues/114#issuecomment-174273740 and would be fix in https://github.com/getquill/quill/pull/369?
I'm raising the issue here anyway, so we don't miss it.
And do you see any issue with workaround above? I've tried it with simple CRUD and seems to be ok

[2016-05-19 13:32] beikern opened #373 "Add support of dynamic table names"
First, forgive me about the possible ambiguous title, feel free to edit it if needed.

**Version**: 0.6.0
**Module**: quill-cassandra
### Expected behavior

The insert query should be executed pointing at the table "test_table"
### Actual behavior

The insert query is executed pointing at the table "foo", using the naming strategy defined in CassandraAsyncSource (SnakeCase in this example) throwin

[2016-05-19 14:23] komsit37 opened #374 "Compile error when using Parametrized quotations with simple aggregation query"
The same query works fine when written with `Lift` binding

**Version**: `0.6.0`
**Module**: not sure

### Expected behavior
`Select count(*) from `person` x where (x.`name` = ?)`

### Actual behavior
Compile Error
[code]
### Steps to reproduce the behavior
[code]
### Workaround
Use `Lift` instead of `Parameterised Quotation`
@getquill/maintainers

[2016-05-19 15:16] fwbrasil commented on #372
@komsit37 Thank you for the report. It should be fixed by https://github.com/getquill/quill/pull/364. Could you verify if it works with the `0.6.1-SNAPSHOT` version? I'm closing the issue, but please don't hesitate to reopen it if necessary.

[2016-05-19 15:16] #372 closed

[2016-05-20 02:56] jilen commented on #374
Thanks for report this , I will try to fix it soon.

[2016-05-20 04:02] jilen commented on #288
I guess building are executed parallel between each `sub-project`.  So it may happen while `finagle-mysql`/`jdbc`/`mysql-async` tests are executed at the same time

[2016-05-20 06:03] #374 closed

[2016-05-20 07:33] komsit37 commented on #372
yup 0.6.1-SNAPSHOT works fine. thanks!

[2016-05-20 07:37] komsit37 commented on #374
@jilen Wow, that was quick. Thanks!

[2016-05-20 17:01] fwbrasil commented on #374
@komsit37 our ci build publishes a snapshot automatically when a PR is merged. Could you please verify if `0.6.1-SNAPSHOT` fixes the issue?

[2016-05-20 17:19] gustavoamigo opened #376 "Improve JDBC error when there's problem"
Right now the error message for JDBC does not print the cause of the error.

**Version**: (e.g. `0.6.0`)
**Module**: (e.g. `quill-jdbc`)
### Expected behavior

Print cause of the error
### Actual behavior

It throws the exception without the cause:

[code]
### Steps to reproduce the behavior

Generate a query that is not compatible with the database.

@getquill/maintainers

[2016-05-20 17:32] gustavoamigo commented on #376
Actually, nothing prevents doing something like this.
[code]
I think it might not be an issue.

[2016-05-20 18:15] fwbrasil commented on #376
😞  JDBC is such a great API! I do think that we should throw `getNextException` to be more user-friendly.

[2016-05-20 19:27] gustavoamigo opened #377 "JDBC Types.OTHER should be easier to use"
**Version**:  `0.6.0`
**Module**: `quill-jdbc`

Right now, if you need to use `Types.OTHER` you have to write a raw decoders. There should be an easier way to do this with Quill's API.

Example of what needs to be done in order to use `Types.OTHER`
[code]

### Expected behavior
I think the API should be something like this:
[code]
### Actual behavior
You need to right your own raw decoder.

### St

[2016-05-21 09:01] komsit37 commented on #374
@fwbrasil Yes, this is good now :)

[2016-05-25 03:43] fwbrasil opened #379 "multi-target sources"
**Version**: (e.g. `0.6.0`)
**Module**: (e.g. `quill-core`)

# Problem

Quill doesn't provide an easy way to switch to a different SQL dialect at runtime. Queries are generated at compile-time and the application needs to be recompiled in order to run on another target dialect.

# Solution

Introduce multi-target sources, that generate queries against multiple compatible target sources at compile-

[2016-05-25 22:04] cambridgemike opened #380 "readme - examples for raw encoding"
Could you provide an example for extending encoder/decoders?

http://getquill.io/#extending-quill-raw-encoding

@getquill/maintainers

[2016-05-26 10:39] mxl opened #381 "Case object encoding"
**Version**: `0.6.0`
**Module**: `quill-async`

I have case object:

[code]

Encoder and decoder:

[code]

### Expected behavior
When I try to compile:

[code]

I expect that it will use provided encoder for `Department` trait.

### Actual behavior

Instead it fails with:

[code]

But if I change it to:

[code]

then it compiles.

Changing
[code]
to
[code]
also leads to error above.

### Steps to

[2016-05-26 11:34] ksilin opened #382 "Mapping defined in `query[T].schema` gets dropped in combined queries"
**Version**: (e.g. `0.6.0`, `0.6.1-SNAPSHOT`)

### Expected behavior

[code]
should run, correctly mapping the case class fields to db columns.

### Actual behavior

Running the combined query results in
`com.twitter.finagle.exp.mysql.ServerError: Unknown column 'x.a' in 'field list'`
The mapping defined in `schema` is not applied at query string creation.

Running `db.run(schema.records)` works a

[2016-05-26 15:37] tpraizler opened #383 "How to create database and inject it?"
**Version**: (e.g. `0.6.1-SNAPSHOT`)
**Module**: (e.g. `quill-async`)

### Expected behavior
I want to be able to inject the database to my dao class, but I couldn't find any way to do it.
Am I missing anything?

I tried something like this:

[code]

[code]

@getquill/maintainers

[2016-05-26 19:39] gustavoamigo commented on #383
Take a look at this [example](https://github.com/getquill/play-quill-jdbc/blob/master/app/AppLoader.scala#L27).

[2016-05-26 22:42] gustavoamigo commented on #373
@getquill/maintainers SQL does not support passing table names or column names as parameters. Therefore, my question is, Is this feature a priority? Can anyone think of another way to do this?

[2016-05-26 22:47] fwbrasil commented on #373
@gustavoamigo I think it wouldn't be hard to support it. Maybe extending `BetaReduction` to reduce the schema definition as well would be enough?

[2016-05-26 22:49] gustavoamigo commented on #371
The `toLong` and `toInt` are not parseable right now, the error message should be better. It is related to #42

[2016-05-26 22:54] gustavoamigo commented on #373
@fwbrasil We would need to change the Schema AST to use Ident instead of pure String and change the  `BetaReduction`. But there is a big but, we would open Quill to SQL Injection vulnerabilities.

[2016-05-26 23:00] fwbrasil commented on #373
@gustavoamigo good point. I'd remove the `1.0` tag then and think about it after the `1.0` release.

[2016-05-26 23:12] gustavoamigo commented on #373
We should also have a better error message, related to #42

[2016-05-28 13:51] jmack87 opened #385 "Renaming columns breaks with -Yno-predef"
**Version**: (e.g. `0.6.1-SNAPSHOT`)
**Module**: (e.g. `quill-jdbc`)

### Expected behavior

    query[XXX].schema(
      _.generated(_.id)
        .columns(c => (c.columnToBeRenamed -> "realColumnName"))
    )

### Actual behavior

[error] /.../XXX.scala:17: exception during macro expansion:
[error] scala.MatchError: ((c: XXX) => scala.Predef.ArrowAssoc[String](c.columnToBeRenamed).->[String]("re

[2016-05-28 17:24] fwbrasil commented on #383
@tpraizler Let us know if @gustavoamigo's example helps you out. I'm closing the issue for now, please feel free to reopen it.

[2016-05-28 17:24] #383 closed

[2016-05-28 17:36] tpraizler commented on #383
Thanks guys for your help! I will give it a try!
One more question, I see that I need to extend the ApplicationLoader. Does this mean that I will need to load the application in order to run tests?

So at the moment , for every test that I write that actually run a query on the database I extends the following trait:

[code]

This does not require a full load of the application, which mean fester

[2016-05-29 07:24] tpraizler commented on #383
Plus when I try to use PostgresAsyncSourceConfig as follow:

    lazy val db = source {
      new PostgresAsyncSourceConfig[SnakeCase]("default") {
        override def dataSource: DataSource with Closeable =
          dbApi.database(name).dataSource.asInstanceOf[DataSource with Closeable]
      }
    }

I get compilation error on dataSource saying there is nothing to override.
What am I missing?

[2016-05-30 03:02] #385 closed

[2016-05-30 11:33] emanresusername commented on #281
👍  similarly for various `Date`/`DateTime` etc types

[2016-05-30 22:50] gustavoamigo opened #387 "Implicit Quotation does not work with Implicit Class in some cases"
Implicit quotation, when combined with implicit class to enrich queries does not work in some cases.

**Version**:  `0.6.1-SNAPSHOT`
**Module**: `quill-jdbc`
### Expected behavior

[code]
### Actual behavior

It does not compile

[code]

If you change the code to the one below, it works:

[code]
### Steps to reproduce the behavior

Just compile the code

@getquill/maintainers

[2016-05-31 06:00] tpraizler commented on #383
@gustavoamigo @fwbrasil any idea guys?

[2016-05-31 06:07] jilen commented on #383
@tpraizler `AsyncSource` dosen't have `dataSource` property. Since it relies on [postgres-async](https://github.com/mauricio/postgresql-async) , not normal jdbc `DataSource`.

You shall create it like this
[code]
And add config in `application.conf`
[code]

[2016-05-31 14:38] ksilin opened #388 "ClusterBuilder does not accept multiple contactPoints in conf"
**Version**: (`0.6.0`)
**Module**: (`quill-cassandra`)

### Expected behavior

configuration `contactPoints = ["127.0.0.1", "127.0.0.2"]` should create a valid `datastax.driver.core.Cluster#Builder` by using the `addContactPoints` method.

### Actual behavior

creation of the Builder fails with

[code]
I suppose, the `ClusterBuilder#param` method is oblivious of String lists in conf.

### Steps to

[2016-05-31 14:40] ksilin commented on #388
Looks simple to me. Would like to take a shot at it.

[2016-06-01 01:42] #380 closed

[2016-06-02 15:50] gustavoamigo opened #391 "Query with Take and Drop produces wrong parameters"
The following quote executes a query with wrong order.

[code]
**Version**: 0.6.1-SNAPSHOT
**Module**: quill-jdbc

### Expected behavior
The query executed should be:
`SELECT p.name, p.age FROM Person p WHERE (p.name = 'Bert') AND (p.age = 55) LIMIT 100 OFFSET 0`

### Actual behavior
Executes a query like this:
`SELECT p.name, p.age FROM Person p WHERE (p.name = 0) AND (p.age = 100) LIMIT 'Bert' O

[2016-06-02 18:56] cmsandiga commented on #391
@gustavoamigo i think the example of  "Expected behavior" is inverted with "Actual behavior.". Do you think ?

[2016-06-03 00:52] emanresusername opened #392 "chaining `.schema` modifications"
**Version**: 0.6.0
**Module**: `quill-jdbc`

[code]

### Expected behavior
generate the sql `INSERT INTO records (value) VALUES (?)`
### Actual behavior
generates the sql `INSERT INTO SELECT x.* FROM records x (value) VALUES (?)`
which throws [this](http://pastebin.com/z9KCrgTD) error
### Steps to reproduce the behavior
see the snippet above

@getquill/maintainers

[2016-06-03 00:56] gustavoamigo commented on #392
@emanresusername thanks for reporting the bug

[2016-06-07 02:14] emanresusername opened #393 "filtering with Optional columns"
**Version**: 0.6.0
**Module**: `quill-jdbc`

### Steps to reproduce the behavior
[code]

### Expected behavior
for q1 either allowing `. . . _.id == id . . .` or generate the sql
[code]
for q2 either allow `. . . ids.contains(_.id) . . .` or generate the sql
[code]
### Actual behavior
for q1 `. . . _.id == id . . .` => fruitless comparison b/c `Option[Long]` never equals `Long` and as written in t

[2016-06-07 02:23] fwbrasil commented on #393
@emanresusername Could you try with `id.forall(_ == value)`?

I'll keep this issue open anyway to fix the query translation and add support for `option.get`.

[2016-06-07 02:41] emanresusername commented on #393
oh perfect `record.id.forall(ids.contains)` worked for me, thanks!

[2016-06-09 06:32] #233 closed

[2016-06-11 15:00] #388 closed

[2016-06-14 16:03] mdedetrich opened #397 "Provide a way to generate Quotes out of raw SQL strings (at runtime)"
**Version** : 0.6.0
**Module**: quill

Currently if you want to generate a `quote` out of a raw SQL string (at runtime), you have to do the following

[code]

This is somewhat verbose, you don't need an `infix` expression, you are just trying to lift string value into `quote`. Something like this would be better.

[code]
@getquill/maintainers

[2016-06-14 17:24] fwbrasil opened #398 "Remove `DynamicVariable` from `ConnectionJdbcSource`."
See https://github.com/getquill/quill/pull/332/files#r65907085

@getquill/maintainers

[2016-06-14 17:27] #13 closed

[2016-06-15 07:39] mdedetrich commented on #21
@gustavoamigo

I think for certain use cases at work its a blocker. We basically need atomic transactions that we can rollback incase something fails (its pretty much a requirement for any serious database work)

Personally I think I am fine with it being delayed, but thats only due to us using stored procedures as a work around

[2016-06-15 08:26] fwbrasil commented on #21
The IO monad is not a requirement for providing atomic transactions. You can use `db.transaction` for that. Am I missing something?

[2016-06-15 08:43] jilen opened #399 "Get ride of `java.this.lang`"
**Version**: (e.g. `0.6.1-SNAPSHOT`)
**Module**: (e.g. `quill-core`)

### Expected behavior
Should not have `xxx.this.xxx` like `java.this.lang.String.valueOf`
Because `scala 2.12` will change this to `java.lang.String.valueOf`
### Actual behavior
`java.this.lang.String.valueOf` is used [here](https://github.com/getquill/quill/blob/master/quill-core/src/test/scala/io/getquill/quotation/QuotationSp

[2016-06-15 10:29] mdedetrich commented on #21
Does it exist for `quill-async`? I believe its only available for JDBC

[2016-06-15 11:25] fwbrasil commented on #21
@mdedetrich yes, it does :)

[2016-06-15 12:26] mdedetrich commented on #21
Ah, ignore my silliness then!

[2016-06-15 13:31] fwbrasil commented on #21
Not your fault at all! It's still undocumented as of the latest release and we're working on improving it. There should be a RC soon with the documentation and improvements.

[2016-06-17 07:40] megri opened #402 "Nested transactions cause runtime exception"
**Version**: `0.6.0`
**Module**: `quill-jdbc/PostgreSQL`, but probably affects all JDBC-connections

### Expected behavior
A transaction within a transaction should either create a save state, or at the very least not fail/exit transaction during runtime.

### Actual behavior
Operation fails with `org.postgresql.util.PSQLException: Cannot rollback when autoCommit is enabled.`. This happens due to

[2016-06-19 04:57] emanresusername opened #403 "using `filter` after the `on` clause after a `join`"
**Version**: `0.6.0`
**Module**: `quill-jdbc`
### Expected behavior

the same as

[code]
### Actual behavior

this error

[code]
### Steps to reproduce the behavior

[code]

@getquill/maintainers

[2016-06-21 18:13] cambridgemike opened #405 "sql keywords are not sanitized"
[code]

caused a runtime MySQL error. It took quite a while to debug, but it turned out it was because the word 'group' was being used in the sql query. I can see why this happened now, but maybe a better error message or at least a warning in the docs could have been helpful.

**Version**: (e.g. `0.4.1-SNAPSHOT`) 0.6.0
**Module**: (e.g. `quill-jdbc`)
### Expected behavior
### Actual behavior
###

[2016-06-22 04:43] jilen commented on #405
possibly a duplicate of #365

[2016-06-24 10:58] mxl opened #406 "`None` object encoding"
Maybe related to https://github.com/getquill/quill/issues/381

**Version**: 0.6.0
**Module**: quill-async

### Expected behavior
I have entity with optional field:
[code]

I expect that I can update `date` with:
[code]

or by using just `None`:
[code]

### Actual behavior
Actually when I use `lift(None)` compilation fails with:

And when I use just `None`:

@getquill/maintainers

[2016-06-24 11:11] jilen commented on #406
You may use a `infix` currently as workaround. Such as `val SqlNull = qote(infix"null")`

[2016-06-24 11:14] mxl commented on #406
@jilen Thanks. I forgot to mention that I use this workaround:
[code]

[2016-06-24 14:43] invis87 opened #407 "Bug with lift + mappedEncoding"
**Version**: 0.6.0
**Module**: quill-jdbc
### Expected behavior

Select rows from DB.
### Actual behavior

Compile time error.
### Steps to reproduce the behavior

For example we have a Table with column type char(1) that actually a enum. In scala code we want to use handwritten objects as enums, for example:

[code]

To use this class in Quill we should add mappedEncodings:

[code]

Now we can cr

[2016-06-26 06:27] cambridgemike commented on #276
@fwbrasil what do you mean by "not fully fixed"?

I expected the following would work but got the same error, "Type T is not a class" as mentioned in the original post.

[code]

Is this functionality not yet supported by PR #351?

Tested against 0.6.0 and 0.6.1-SNAPSHOT

[2016-06-26 13:55] jtdev opened #408 "Case class with single property causes: value tupled is not a member of Int"
**Version**: 0.6.0
**Module**: quill-jdbc

### Expected behavior
Given the following case classes representing tables:

[code]
(Which is similar to described here, under "_joins_": http://getquill.io/#quotation-queries )

I expect the following code from the Quill website to work without compilation errors:

[code]

### Actual behavior
The following compilation error occurs:

[code]

The problem c

[2016-06-29 17:41] mxl opened #410 "groupBy in flatMap / join / for-comprehension"
**Version**: 0.6.1-SNAPSHOT
**Module**: quill-async
### Expected behavior

I expect it to generate same queries.
### Actual behavior

Using for-comprehension generates valid query. Using `join` or `flatMap` generates invalid query.
### Steps to reproduce the behavior

I have entities:

[code]

I need to select driver and his latest location:

[code]

where `latestDriversLocations` is query that fo

[2016-06-29 17:43] fwbrasil commented on #410
@mxl thanks for the detailed report! Could you add the error message for the invalid sqls?

[2016-06-29 18:09] mxl commented on #410
@fwbrasil There is no compilation error, but in runtime it gives:

[2016-06-30 00:10] cambridgemike opened #411 "Reopen: Support type parameters during macro expansion"
Couldn't figure out how to re-open an issue. It doesn't seem the fix works with db.run

https://github.com/getquill/quill/issues/276

@getquill/maintainers

[2016-07-01 06:58] emanresusername opened #412 "can't use lifted variables with (filter + drop and/or take)"
This template isn't a strict requirement to open issues, but please try to provide as much information as possible.

**Version**: (`0.6.0`)
**Module**: (e.g. `quill-jdbc`)
### Expected behavior

same as

[code]
### Actual behavior

returns an empty list
### Steps to reproduce the behavior

[code]

@getquill/maintainers

[2016-07-03 03:53] fwbrasil opened #415 "refactor `ActionApply`"
Each source has an implementation of `ActionApply`, it should be possible to have a single generic implementation of it.

@getquill/maintainers

[2016-07-03 04:46] #370 closed

[2016-07-03 04:50] jilen commented on #415
To abstract all over sources we need a type class `Functor`

[2016-07-04 06:12] #398 closed

[2016-07-04 20:05] fwbrasil commented on #365
Closing this issue in favor of https://github.com/getquill/quill/issues/405.

[2016-07-04 20:05] #365 closed

[2016-07-04 20:09] fwbrasil commented on #405
@cambridgemike @mbardea have you tried using the naming strategy `Escape` as pointed out by @jilen? I've been thinking about this issue and I don't think we want to maintain a list of reserved words for each database dialect. Also, checking that the sql doesn't have reserved words would be expensive at run time for dynamic quotations.

Maybe we just need to improve the documentation on this topic?

[2016-07-04 20:42] fwbrasil commented on #334
Doesn't happen with the new version of cassandra (3.7). See https://travis-ci.org/getquill/quill/builds/142296667 (the build failed only because I forgot to format the source files).

[2016-07-04 20:42] #334 closed

[2016-07-05 00:41] jilen commented on #405
@fwbrasil I have misunderstand this issue previously, it did no help to use `Escape`, because alias are not escaped currently

[2016-07-05 03:25] fwbrasil opened #422 "Improve error message when the build fails with unformatted source files"
### Expected behavior

The build should fail with a message explaining that the source files need to be formatted.

### Actual behavior

Fails with this [cryptic error](https://travis-ci.org/getquill/quill/builds/142350217#L6376):

[code]

### Steps to reproduce the behavior

Push a branch with unformatted source files.

@getquill/maintainers

[2016-07-05 04:11] jilen commented on #422
:+1:

[2016-07-05 05:48] cambridgemike commented on #405
Yeah I don't think it makes sense for quill to do any sanitizing. I also
like that the output sql uses the variable names because it makes it easy
to debug. It just felt like this was a gotcha so improved documentation
would be very helpful.

On Monday, July 4, 2016, jilen <notifications@github.com> wrote:

[2016-07-05 10:35] lvicentesanchez opened #424 "Cassandra module doesn't support liftables"
**Version**: (e.g. `0.7.0`)
**Module**: (e.g. `quill-cassandra`)

### Expected behavior

The Cassandra module should be able to deal with lifted values.

### Actual behavior

`Invalid cql: lift(...)` error at compile time.

### Steps to reproduce the behavior

Use lifted values in a cassandra query.

@getquill/maintainers

[2016-07-05 14:34] #366 closed

[2016-07-05 16:11] #424 closed

[2016-07-06 04:09] #317 closed

[2016-07-06 04:09] #337 closed

[2016-07-06 04:10] fwbrasil commented on #408
fixed by https://github.com/getquill/quill/pull/420

[2016-07-06 04:10] #408 closed

[2016-07-07 09:19] megri commented on #405
Maybe it would make sense to simply quote all names in the sql-query, much like other frameworks do?

In essence, for every flavour of SQL, assure there is a `escapeName(…)`. MySQL uses backticks in mysql-mode, or double quotes in ANSI mode. PostgreSQL would probably just use double quotes.

Example: `SELECT * FROM group` becomes `SELECT * FROM "group"`.

[2016-07-07 14:34] mdedetrich opened #427 "Remove Long restriction for primary incremented database keys"
According to the quill docs

The restriction for the type (in this case `Long`) should be removed. Its fairly common to use UUID's (instead of Long's) for database ID's, and databases such as PostGres provide a function to
guarantee unique UUID's specifically for this use case (i.e. `gen_random_uuid();`).

Not sure why the `Long` restriction is there (maybe because Quill needs to know how to map t

[2016-07-07 19:12] gustavoamigo commented on #427
@mdedetrich it is not a restriction, yu can use other types for primary keys. The limitation is that you can use only types that can be casted to long if you want the value to be generated by the database. If you use UUID, you can generate the value on the application side. If you need the value to be generated on database side, you can `infix` to select the value before inserting.

Here's an exam

[2016-07-07 19:20] gustavoamigo commented on #427
What we might do in the future is to have a specialized version for Postgres, since MySQL is very limited in terms of returning values generated by the database. For example, MySQL can only return one long value generated by database. Therefor, when using MySQL, if you have default values defined for columns, you have to do a second `select` in order to get these default generated values (which ca

[2016-07-07 22:00] mdedetrich commented on #427
Thanks, the only minor complaint I have about this example is that it can't distinguish between a `UUID` that is made on the database layer, and one that is set by the client (i.e. you may be using `UUID` not as an database ID, but for other reasons, which is completely plausible). Not an issue for me personally since I actually wrap by `UUID` in another class i.e. I have `case class UserId(uuid:U

[2016-07-08 05:04] fwbrasil commented on #392
Duplicate of https://github.com/getquill/quill/issues/382

[2016-07-08 05:04] #392 closed

[2016-07-08 05:06] fwbrasil commented on #393
Actually I don't think we should support `option.get`, since it's an unsafe operation. @emanresusername @getquill/maintainers please reopen the issue if you judge necessary.

[2016-07-08 05:06] #393 closed

[2016-07-08 06:04] #391 closed

[2016-07-08 06:04] #402 closed

[2016-07-08 06:18] fwbrasil opened #431 "Scalariform not working for `Parsing.scala`"
### Expected behavior

The `Parsing.scala` source file should be formatted by Scalariform.

### Actual behavior

https://github.com/getquill/quill/pull/428/files#diff-d1be86fd3dd0aaa20dd13a7e82c40f66R137

[code]
### Steps to reproduce the behavior

@getquill/maintainers

[2016-07-08 06:30] fwbrasil commented on #357
fixed by https://github.com/getquill/quill/pull/417

[2016-07-08 06:30] #357 closed

[2016-07-08 06:31] fwbrasil commented on #288
I haven't seem this error recently. Closing.

[2016-07-08 06:32] #228 closed

[2016-07-08 06:34] fwbrasil commented on #159
Fixed by https://github.com/getquill/quill/pull/417

[2016-07-08 06:34] #159 closed

[2016-07-08 06:35] fwbrasil commented on #115
I think this feature would make harder to reason about Quill's behavior. Closing. cc/ @getquill/maintainers

[2016-07-08 06:35] #115 closed

[2016-07-08 06:38] fwbrasil commented on #399
@jilen Let's track the progress on this topic with https://github.com/getquill/quill/issues/231.

[2016-07-08 06:38] #399 closed

[2016-07-08 06:55] emanresusername opened #432 "Feature Request: generic way to ignore some columns on insert"
Assume the database is already defaulting to some automatic values when new records are inserted, something like this would be awesome
[code]
@getquill/maintainers

[2016-07-08 08:39] mdedetrich commented on #432
Duplicate of https://github.com/getquill/quill/issues/427?

[2016-07-08 08:50] emanresusername commented on #432
^^ similar, i'd say it's a little bit different as i'd actually like to just exclude the `id` column (and `create/updated_at` etc) from quill/scala handling it at all, and just let mysql do it's thing based on the table definition (as opposed to like a `schema.generated(_.createdAt)` thing). One reason outside of just personal preference is i think using `schema.generated(_.id)` will increment the

[2016-07-08 14:40] mdedetrich commented on #427
Okay so giving an update on this I have managed to fix it somewhat (and by that I mean, using `.inserted` so that Quill ignores the parameter on insert) by changing the signature of `extractActionResult` in `AsyncSource` from

[code]

to

[code]

Plus any other related changes. Everything of course works fine, but as expected the `.insert` queries now return `Any` instead of `Long`. I haven't mana

[2016-07-08 15:13] fwbrasil commented on #427
@mdedetrich sure, please open a PR. We can try and see together if there's a way to pass the type information to the context.

[2016-07-08 15:19] mdedetrich commented on #427
@fwbrasil I did the PR against 0.7, since master has diverged so much since 0.7. Should I make the pull request against master?

Also I think another issue is that updates are conflated with inserts. For example, in the following code

[code]

The
[code]

Seems to deal with the case when you are updated (databases such as PostGres will return the number of rows effected). This doesn't really have

[2016-07-08 16:58] fwbrasil commented on #427
@mdedetrich yeah, we had a big refactoring recently. We won't maintain a `0.7.0` branch, so you'd need prepare a PR against master.

[2016-07-09 00:31] #371 closed

[2016-07-10 17:04] exlevan opened #436 "count(distinct(_)) is not generated for _.distinct.size"
**Version**: `0.7.0`

### Steps to reproduce the behavior
Run the following code:
[code]

### Expected behavior
`SELECT COUNT(DISTINCT "u"."name") FROM "user" "u"`

### Actual behavior
`SELECT DISTINCT COUNT("u"."name") FROM "user" "u"`

@getquill/maintainers

[2016-07-10 20:43] fwbrasil commented on #436
workaround:

[code]

[2016-07-11 01:12] #288 closed

[2016-07-11 01:38] #422 closed

[2016-07-11 06:45] jilen opened #442 "emptySet.contains generate invalid sql for mysql 5.6 version"
**Version**: (e.g. `0.7.1-SNAPSHOT`)
**Module**: (e.g. `quill-jdbc`)

### Expected behavior
Query
[code]
should generate valid sql
### Actual behavior
Generate sql
[code]
Which cannot run with mysql 5.6 and below

@getquill/maintainers

[2016-07-12 02:03] #442 closed

[2016-07-13 11:41] mdedetrich opened #445 "Unable to represent Array with Postgres Async"
**Version**: 0.7.0
**Module**: quill-async (postgres)

### Expected behavior

If we have defined some traversable, i.e. a `Vector[String]`, we should be able to define an encoder/decoder so we can encode and decode a Postgres Array type into a our desired `Vector[String]`, particularly if the `Vector[String]` is contained within a case class, i.e.

[code]

### Actual behavior

This doesn't seem po

[2016-07-13 12:21] mdedetrich opened #446 "Provide type safety for update/insert"
Version: 0.7

Currently, the definitions for `insert` and `update` are

[code]

As you can see, there are definitions for `insert`/`update` which have `(f: (T => (Any, Any)), f2: (T => (Any, Any))*)` which means that you lose type safety. This means that if you have a case class like so

[code]

And you do a query like so

[code]

This will compile fine (due to the `Any`,`Any`), however you will g

[2016-07-13 12:33] mdedetrich opened #447 "Provide support for case class expansion inside quotations"
**Version**: 0.7

### Expected behaviors

You can use

[code]

If user is a case class and is defined in another library.

### Actual behavior

When running compile you get a `Quotations can't reference values outside their scope directly.` if using the unlifted version, where as you get a `Source doesn't know how to encode User` if using `lift`.

### Steps to reproduce the behavior

Define a case

[2016-07-13 14:18] fwbrasil commented on #445
It seems to be an implicit precedence issue. Have you tried adding the implicits to the local scope of the `db.run` call? Also, extending your trait from `io.getquill.sources.async.Encoders` would make your implicits higher-priority.

I imagine you just need to receive the other encoder as an implicit of your `Vector` encoder and use it to encode the vector values.

No, `traversableEncoder` is onl

[2016-07-13 14:21] fwbrasil commented on #446
It's actually relatively easy to fix this. We just need to change [the assignment parsing](https://github.com/getquill/quill/blob/908a1a5b3d898e0818f0612cda7329d0eb4738f6/quill-core/src/main/scala/io/getquill/quotation/Parsing.scala#L407) to check the types and fail if they don't match.

[2016-07-13 14:31] mdedetrich commented on #445
This is what I have done, since its implemented as a trait and dependent on a driver (postgres-async) I had to implement it as a trait

Yes I know, but for the `Decoder.apply` has the following signature `def apply(index: Int, row: RowData)`. What exactly do I use for index/row (this isn't really applicable, since individual values inside a PostGres array are not in different index's). At least in

[2016-07-13 14:38] fwbrasil commented on #445
I'm not sure it it'd make the implicit precedence work, maybe you could shadow the `traverseEncoder` to disable it then:

[code]

I see, I'm not if it's possible, but could you try creating a new `RowData` instance with the vector values and decode all the indexes?

This is the encoding of empty set values. For instance, `Set().contains(1)` will generate this subquery to emulate an empty set.

[2016-07-14 04:25] fwbrasil opened #448 "refactor sub-modules tests"
The sub-modules have a lot of code duplication. See `quill-jdbc` as an example, there's a folder with almost exact copies of the tests for each dialect.

@getquill/maintainers

[2016-07-14 18:21] jarlah opened #450 "Add support for blocking single connection contexts"
Version: 0.7.1-SNAPSHOT
Module: quill-jdbc
### Expected behavior

Should be able to create a non async context like `lazy val ctx = new JdbcContext[PostgresDialect, SnakeCase]("application.db")` and expect that the context will only use and maintain a single connection.
### Actual behavior

Quill uses Hikari connection pool for every context. I cannot create, easily, a context with only a single c

[2016-07-16 16:25] kentongray opened #451 "Support for MS SQL"
I figure it wouldn't hurt to ask if there is any possibility or plans of support for MS SQL. I'm looking at the dialect settings and am slightly optimistic it wouldn't be too much work, but wanted to make sure that someone else wasn't planning on doing it. Maybe if I have a free weekend I can give it a go.  Would happily donate funds for an AWS DB for testing purposes too.

[2016-07-16 17:21] fwbrasil commented on #35
closed in favor of https://github.com/getquill/quill/issues/451

[2016-07-16 17:21] #35 closed

[2016-07-16 17:37] fwbrasil commented on #451
@kentongray

Thanks for opening this issue and offering to help with it!

It should easy to implement the dialect. The hard part is the test environment, I don't think a remote AWS db would be a good solution as we want to have the docker container taking care of all dependencies, so developers can run the build locally.

Wdyt about creating a separate project under your github account with the ne

[2016-07-16 17:38] fwbrasil commented on #451
Example of a new dialect: https://github.com/getquill/quill/pull/449

[2016-07-17 16:37] #18 closed

[2016-07-17 19:12] glenstarchman opened #454 "JdbcContext does not allow specifying custom datasource"
**Version**: 0.7.1-SNAPSHOT
**Module**: `quill-jdbc`

### Expected behavior
[code]
should allow you to programatically create a `dataSource` to be used by the `JdbcContext`.

### Actual behavior

The new `JdbcContext` does not allow for overriding the data source and requires an actual config object as per its new signature.

@getquill/maintainers

[2016-07-17 19:18] glenstarchman commented on #454
FYI: The documentation for `0.7.1-SNAPSHOT` shows using `override def dataContext = ???`

[2016-07-17 19:28] glenstarchman commented on #454
OOOPS! It helps to actually read the signature of the constructor. For anyone else who happens to hit this, the following works:

[code]

[2016-07-17 19:31] fwbrasil commented on #454
I'll fix the documentation

[2016-07-17 19:35] glenstarchman commented on #454
Thanks! Quill is an awesome project! I am using it as part of a Finch REST API generator I am about to release to the wild any day now. It makes the code super clean.

[2016-07-17 19:39] fwbrasil commented on #454
@glenstarchman cool! will it be open source?

[2016-07-17 19:46] fwbrasil opened #456 "new `quill-nodejs` module"
Follow-up of https://github.com/getquill/quill/pull/452.

@getquill/maintainers

[2016-07-17 19:47] glenstarchman commented on #454
Very much so.

[2016-07-17 19:53] #454 closed

[2016-07-18 03:32] gustavoamigo commented on #415
Also, I don't if it is better to use the non batch version of the `ps.executeUpdate` when passing non list parameters.

[2016-07-18 04:35] fwbrasil commented on #415
Ideally, `ActionApply` should be moved to the macro implementations, so we can simplify the `Context` implementations.

[2016-07-18 04:55] gustavoamigo commented on #415
I've found another limitation regarding `ActionApply`, the code below throws an exception during runtime:
[code]

Here's the exception:
[code]

It seems to be a bug in the compiler.

[2016-07-18 17:45] cambridgemike opened #458 "0.8.0 is not in maven central"
http://search.maven.org/#search%7Cga%7C1%7Cquill

quill-core, quill-sql, quill-async, etc all seem to be on 0.8.0, but "quill_2.11" is still on 0.7.0

[2016-07-18 19:41] gustavoamigo opened #459 "Combination of size and orderBy produces a query that is invalid"
When combining size with orderBy, quill produces queries that are invalid.

Example:

[code]

**Version**: (e.g. `0.8.0`)
**Module**: (e.g. `quill-jdbc`)
### Expected behavior

Compilation error due to wrong combination of sort and size.
### Actual behavior

A query that is invalid like `SELECT COUNT(*) FROM Test x1 ORDER BY x1.content ASC`
### Steps to reproduce the behaviour

Run the example cod

[2016-07-18 20:16] fwbrasil commented on #459
What is the dabatase? I'm not sure that's invalid sql for all dbs.

[2016-07-18 20:29] gustavoamigo commented on #459
@fwbrasil Postgres. I think nesting would solve the problem as well, but I don't if query plan would optimize it.

[2016-07-19 05:53] #458 closed

[2016-07-19 16:10] #431 closed

[2016-07-20 14:21] liorhar commented on #114
I see the nested case class works nicely in a select statement. However on the insert quote it doesn't.
See the address part in the generated queries.
[code]

Any chance to get this working with current release or do I need to wait to v1.0 release?

[2016-07-21 15:12] fwbrasil opened #462 "Blog"
I'd like to have a blog for Quill. We could publish is on the website of even have a separate repository that works as a blog (see https://github.com/shekhargulati/52-technologies-in-2016 as an example). @getquill/maintainers wdyt?

The first blog post could be about our plans regarding a future migration to dotty, in response to [@mbilski's question](http://blog.scalac.io/2016/07/21/compile-time-

[2016-07-21 18:03] mxl opened #463 "for-comprehension generates query with table name duplicates in both FROM and (LEFT) JOIN clauses."
**Version**: `0.8.1-SNAPSHOT`
**Module**: `quill-async`
### Expected behavior

Expected to generate query:

[code]
### Actual behavior

Generated query has duplicate table name in FROM clause:

[code]
### Steps to reproduce the behavior

[code]
### Workaround

[code]

generates:

[code]
### P. S.

I tried example from documentation:

[code]

and it generates valid query:

[code]

but if I remove j

[2016-07-21 18:13] mxl commented on #463
The same issue for inner joins:
[code]
gives query:
[code]

[2016-07-21 18:27] mxl opened #464 "Compilation does not fail in same cases if value is not lifted in for-comprehension"
**Version**: (e.g. `0.8.1-SNAPSHOT`)
**Module**: (e.g. `quill-async`)

### Expected behavior
Compilation is expected to fail with:

### Actual behavior
It compiles giving query:
[code]
### Steps to reproduce the behavior
[code]

@getquill/maintainers

[2016-07-21 18:34] gustavoamigo commented on #463
@mxl Thanks for reporting both bugs

[2016-07-21 18:39] andrelu opened #465 "Use of Cassandra Counter type throws an exception"
When trying to generate a query using Counter type, quill throws an exception

Example:
[code]

**Version**: (`0.7.0`)
**Module**: (e.g. `quill-cassandra`)

### Expected behavior

Quill should generate `UPDATE countersample SET counter = counter + ? WHERE id = ?`

### Actual behavior

Quill throws an exception: `java.lang.IllegalStateException: Cql doesn't support the '+' operator.`

### Steps to

[2016-07-21 19:42] mxl opened #466 "Nested for-comprehension LEFT JOIN compilation error. Workaround with explicit join generates invalid query."
**Version**: `0.8.1-SNAPSHOT`
**Module**: `quill-async`
### Expected behavior

Compile and produce valid query.
### Actual behavior

Fails with:

[code]
### Steps to reproduce the behavior

[code]

First case compiles to:

[code]

It's valid though similar query from https://github.com/getquill/quill/issues/463 but without `join(query[SecondEntity]).on(_.id == _.id)` part  gives invalid query.

Bu

[2016-07-21 19:44] mxl commented on #463
@gustavoamigo Glad to help. I hope that soon I will be able to submit pull requests instead of reporting issues.

[2016-07-24 00:23] kentongray commented on #451
Awesome! I'm getting pretty fed up with Slick and love your library so I'll try to give it a go. I'll let you know how it progresses

[2016-07-24 01:04] fwbrasil commented on #451
@kentongray cool! There's also the [gitter channel](http://gitter.im/getquill/quill) if you need help with it.

[2016-07-24 04:47] fwbrasil opened #471 "Simplify `Liftables` and `Unliftables`"
`Liftables` and `Unliftables` are classes that basically transform case classes from/to macro trees. It's probably possible to write a macro to perform the lifting and unlifting automatically, since the Ast nodes are all case classes.

@getquill/maintainers

[2016-07-24 23:50] #436 closed

[2016-07-24 23:53] #427 closed

[2016-07-25 17:48] povder opened #474 "Async wrappers for JdbcContext"
It would be really cool to be able to use asynchronous interface (queries returning `Future`s) for databases that don't enjoy having any Scala/JVM asynchronous driver.

It could be achieved by AsyncContext implementation using quill-jdbc underneath, basically wrapping JdbcContext (I'm not very familiar with the codebase so I may be wrong about this).

Benefits:
- after https://github.com/getquill/

[2016-07-25 17:53] mxl opened #475 "Implicit class quotation fails when using pattern matching in `filter`."
**Version**: (e.g. `0.8.1-SNAPSHOT`)
**Module**: (e.g. `quill-async`)

Maybe related to https://github.com/getquill/quill/issues/387
### Expected behavior

Expected to compile.
### Actual behavior

Fails with error:

### Steps to reproduce the behavior

[code]
### Workaround

[code]

@getquill/maintainers

[2016-07-26 04:17] komsit37 opened #476 "Upgrade quill-finagle-mysql dependencies to finagle 6.36.0"
**Version**: `0.8.0`
**Module**: `quill-finagle-mysql `

I would like to upgrade `quill-finagle-mysql` dependencies to `finagle 6.36.0`. This is because quill 0.8.0 uses `6.35.0` which is incompatible with `finatra 2.2.0`.

This should be as simple as changing version in build.sbt. I have tried it in my project and it works fine. However, I was not able to run tests due to docker issue.

@getquill

[2016-07-26 09:51] cerst opened #477 "quill-cassandra - Wrap surprising decoding behaviour concerning primitive types and null"
**Version**: 0.8.0 (& master as of 0a66a2b694e75dc1a6033ce015d12d502a4ab035)
**Module**: quill-cassandra
**Class**: [io.getquill.context.cassandra.encoding.Decoders](https://github.com/getquill/quill/blob/master/quill-cassandra/src/main/scala/io/getquill/context/cassandra/encoding/Decoders.scala)

### Expected behavior

#### Primitives
Quill Cassandra decoders shouldn't "leak" Java-Primitive defau

[2016-07-26 13:21] povder commented on #474
Actually I'm having a second thoughts about this, I think this shouldn't be impemented in quill but rather in mauricio/postgresql-async. See https://github.com/mauricio/postgresql-async/issues/188

[2016-07-26 16:57] roland3 commented on #323
I remember this being an issue in 0.3.* and 0.4.* (one of the reasons I didn't choose to use quill last time).
Now that I'm trying it again in 0.8.0 it seems to work, good to see.

[2016-07-26 23:07] cambridgemike opened #478 "Better error message for lift in parameterized query"
Was getting an error that looked like:

[code]

eventually tracked it down to using "lift" inside of a parameterized query. I.e

`val my_query = quote { (id: Long) => MyThing.schema.filter( things => things.id == lift(id) ) }`

This seems like a pretty common mistake that a beginner could make. It would be great if the failure message was a little more helpful.

**Version**: (e.g. `0.4.1-SNAPSHOT`

[2016-07-27 13:54] roland3 opened #480 "CassandraContext type access modifier"
Question regarding `CasandraContext` - is there a reason to use `protected type`s in `Sync` and `Async` context...
[code]
while `Mirror` and `Stream` overrides them without `protected` keyword?

[code]

When using either of Contexts everything compiles just fine, but I noticed the difference because IDEA can't resolve types when I use `Sync` or `Async` ones, which is kind of annoying. I know this

[2016-07-27 14:31] cerst commented on #480
According to @fwbrasil, this is already fixed by getquill/quill/issues/440

[2016-07-27 14:38] fwbrasil commented on #480
actually I forgot to change quill-cassandra

[2016-07-27 15:06] cerst opened #481 "io.getquill.context.cassandra.encoding.Decoders.decode should be public instead of private"
**Version**: (e.g. `0.8.0`)
**Module**: (e.g. `quill-cassandra`)

_decode_ should be public so that you can create custom, raw decoders
(equivalent to _io.getquill.context.cassandra.encoding.Encoders.encode_)

@getquill/maintainers

[2016-07-28 23:49] nykolaslima opened #484 "Support enums"
It would be nice to have builtin support for Java enums and sealed traits/case.

[2016-07-29 06:47] marcin992 commented on #481
+1

[2016-07-29 08:55] mikaelstaldal opened #486 "Context.run methods for batch inserts should take an immutable.Seq rather than a List"
The `Context.run` methods for batch inserts currently take a List parameter.

If you have your data in a non-List immutable.Seq (such as Vector or Stream), you lose performance by having to convert it to a List (it needs to be copied).

I suggest that the `Context.run` methods for batch inserts take an immutable.Seq parameter instead.

**Version**: (`0.8.0`)

@getquill/maintainers

[2016-07-29 09:06] mikaelstaldal opened #488 "Create a CassandraContext with a ready-made Cluster"
It would be useful to be able to create a CassandraContext (Sync, Async, Stream) with a ready-made `com.datastax.driver.core.Cluster` (thus bypassing `io.getquill.context.cassandra.cluster.ClusterBuilder`).

**Version**: (`0.8.0`)
**Module**: (`quill-cassandra`)

@getquill/maintainers

[2016-07-29 10:11] mikaelstaldal opened #489 "Support comparision operators for other types than numbers"
It would be nice to be able to use `<`,  `>`, `<=` and `>=` for dates and other types.

**Version**: (`0.8.0`)
**Module**: (`quill-sql`)
### Workaround

[code]

@getquill/maintainers